@model IEnumerable<AdvisorManagement.Models.PlanClass>
@using AdvisorManagement.Models;
@{
    ViewBag.Title = "DetailClass";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    List<PlanAdvisor> listYear = (List<PlanAdvisor>)ViewBag.listYear;
    List<VLClass> listClass = (List<VLClass>)ViewBag.listClass;
    var yearNow = (int)Session["yearNow"];
    var id_class = (int)Session["id_class"];
    var roleABC = (string)Session["role"];
    var list = Model;
    var message = Session["message"];
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Quản lí kế hoạch đầu học kì</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">
                        @if (ViewBag.yearClass == ViewBag.yearNow)
                        {
                        <div class="col-12 d-flex no-block align-items-center">
                            @if (Session["name_status"].ToString() == "Đang làm")
                            {
                                <a onclick="CreateTitle()" id="create" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Tạo đề mục<i style="margin-left:5px" class="fas fa-plus"></i>
                                </a>
                                <a onclick="ExportTemplate()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Xuất template <i class="fas fa-plus"></i>
                                </a>
                                <a onclick="SubmitPlan()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Nộp kế hoạch <i class="fas fa-plus"></i>
                                </a>
                            }
                            else if (Session["name_status"].ToString() == "Chờ duyệt")
                            {
                                <a onclick="ExportTemplate()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Export template <i class="fas fa-plus"></i>
                                </a>
                                <a onclick="" class="btn btn-default" style="background-color:darkolivegreen; margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Chờ duyệt <i class="fas fa-plus"></i>
                                </a>
                                <a onclick="UndoPlan()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Hoàn tác <i class="fas fa-plus"></i>
                                </a>
                            }
                            else
                            {
                                <a onclick="ExportTemplate()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Xuất template <i class="fas fa-plus"></i>
                                </a>
                                <a onclick="" class="btn btn-default" style="background-color:darkolivegreen; margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                    Hoàn thành <i class="fas fa-plus"></i>
                                </a>
                            }
                        </div>
                        }
                        else { 
                            <div class="col-12 d-flex no-block align-items-center">
                                @if (Session["name_status"].ToString() == "Đang làm")
                                {                                  
                                    <a onclick="ExportTemplate()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                        Export template <i class="fas fa-plus"></i>
                                    </a>                                   
                                }
                                else if (Session["name_status"].ToString() == "Chờ duyệt")
                                {
                                    <a onclick="ExportTemplate()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                        Export template <i class="fas fa-plus"></i>
                                    </a>                                  
                                }
                                else
                                {
                                    <a onclick="ExportTemplate()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                        Export template <i class="fas fa-plus"></i>
                                    </a>
                                    <a onclick="" class="btn btn-default" style="background-color:darkolivegreen; margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                        Hoàn thành <i class="fas fa-plus"></i>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>                    
                    <div style="margin-top:10px">
                        @if (Session["name_status"].ToString() == "Đang làm")
                        {
                            if (message != null)
                            {
                                <p style="margin-bottom: 5px; margin-left: 10px; color: red; text-align: center ">@message.ToString()</p>
                            }
                        }
                        <i class="fa fa-check" style="color:limegreen"></i> Cố vấn đã thực hiện nộp minh chứng
                    </div>

                        <div class="table-responsive" style="margin-top:10px">
                            <table width="100%" id="zero_config" class="table table-striped table-bordered" role="grid" aria-describedby="zero_config_info">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">STT</th>
                                        <th style="text-align:center">Nội dung</th>
                                        <th style="text-align:center">HK1</th>
                                        <th style="text-align:center">HK2</th>
                                        <th style="text-align:center">HK3</th>
                                        <th style="text-align:center">Mô tả công việc</th>
                                        <th style="text-align:center">Tài nguyên chuẩn bị</th>
                                        <th style="text-align:center">Ghi chú</th>
                                        <th hidden>year</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.id">
                                            <td width="5%">
                                                @Html.DisplayFor(modelItem => item.number_title)
                                            </td>
                                            <td width="20%">
                                                @Html.DisplayFor(modelItem => item.content)
                                            </td>
                                            @if (ViewBag.listProof != null)
                                            {
                                                List<ProofPlan> proofPlans = (List<ProofPlan>)ViewBag.listProof;

                                                <td style="text-align:center" width="5%">
                                                    @item.hk1
                                                    @foreach (var i in proofPlans)
                                                    {
                                                        if (i.id_titleplan == item.id && i.semester.Trim() == "Học kỳ 1")
                                                        {

                                                            <i class="fa fa-check" style="color:limegreen"></i>
                                                            break;
                                                        }

                                                    }
                                                </td>
                                                <td style="text-align:center" width="5%">
                                                    @item.hk2
                                                    @foreach (var i in proofPlans)
                                                    {
                                                        if (i.id_titleplan == item.id && i.semester.Trim() == "Học kỳ 2")
                                                        {

                                                            <i class="fa fa-check" style="color:limegreen"></i>
                                                            break;
                                                        }
                                                    }
                                                </td>
                                                <td style="text-align:center" width="5%">
                                                    @item.hk3
                                                    @foreach (var i in proofPlans)
                                                    {
                                                        if (i.id_titleplan == item.id && i.semester.Trim() == "Học kỳ 3")
                                                        {
                                                            <i class="fa fa-check" style="color:limegreen"></i>
                                                            break;
                                                        }
                                                    }
                                                </td>
                                            }
                                            <td width="30%">
                                                @Html.DisplayFor(modelItem => item.describe)
                                            </td>
                                            <td width="25%">
                                                @Html.DisplayFor(modelItem => item.source)
                                            </td>
                                            <td width="10%">
                                                @Html.DisplayFor(modelItem => item.note)
                                            </td>

                                            @if (Session["name_status"].ToString() == "Đang làm")
                                            {
                                                if (ViewBag.yearClass == ViewBag.yearNow)
                                                {
                                                    <td width="25%">
                                                        <button onclick="Update(@item.id)" class="btn btn-success">Sửa <i class="fas fa-tasks"></i></button>
                                                        <button onclick="Delete(@item.id)" class="btn btn-danger">Xóa <i class="fas fa-trash-alt"></i></button>
                                                        <a id="proof" href="@Url.Action("Details", "PlansAdvisor", new { id = item.id })" class="btn btn-info">Minh chứng <i class="fas fa-edit"></i></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td hidden></td>
                                                }
                                            }
                                            else
                                            {
                                                <td hidden></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div id="modalCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm đề mục</h4>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-4"><span>Số đề mục:</span></div>
                        <div class="col-md-8">
                            <input id="txtIDTitle" type="number" class="form-control" min="1" value="1" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Nội dung:</span></div>
                        <div class="col-md-8">
                            <input id="txtContent" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Mô tả:</span></div>
                        <div class="col-md-8">
                            <input id="txtDescribe" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Tài nguyên:</span></div>
                        <div class="col-md-8">
                            <input id="txtSource" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Ghi chú:</span></div>
                        <div class="col-md-8">
                            <input id="txtNote" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnUpload" class="btn btn-primary" type="submit">Thêm</button>
                </div>

            </div>
        </div>
    </div>

    <div id="modalUpdate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chỉnh sửa đề mục</h4>
                </div>
                <input hidden id="id_title" value="" />
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-4"><span>Số đề mục:</span></div>
                        <div class="col-md-8">
                            <input id="up_Title" type="number" class="form-control" min="1" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Nội dung:</span></div>
                        <div class="col-md-8">
                            <input id="up_Content" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Học kỳ 1:</span></div>
                        <div class="col-md-8">
                            <input id="up_HK1" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Học kỳ 2:</span></div>
                        <div class="col-md-8">
                            <input id="up_HK2" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Học kỳ 3:</span></div>
                        <div class="col-md-8">
                            <input id="up_HK3" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Mô tả:</span></div>
                        <div class="col-md-8">
                            <input id="up_Describe" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Tài nguyên:</span></div>
                        <div class="col-md-8">
                            <input id="up_Source" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Ghi chú:</span></div>
                        <div class="col-md-8">
                            <input id="up_Note" type="text" class="form-control" />
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <button onclick="HideModalUp()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnEdit" class="btn btn-primary" type="submit">Sửa</button>
                </div>

            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.js"></script>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
<script>

    var dataTable = $("#zero_config").DataTable({
         'rowsGroup': [0,1], 
        });

        function CreateTitle() {
            $("#modalCreate").modal("show");
        }

        function CopyTemplate() {
            $("#modalCopy").modal("show");
        }

        function HideModal() {
            $("#modalCreate").modal("hide");
    }

        //Lấy thông tin người dùng để cập nhật
         function Update(id) {
              $.ajax({
                    url:'@Url.Action("UpdateAdvisor", "PlansAdvisor")',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.success == true) {
                            $('#up_Title').val(data.T.number_title);
                            $('#up_Content').val(data.T.content);
                            $('#up_HK1').val(data.T.hk1);
                            $('#up_HK2').val(data.T.hk2);
                            $('#up_HK3').val(data.T.hk3);
                            $('#up_Describe').val(data.T.describe);
                            $('#up_Source').val(data.T.source);
                            $('#up_Note').val(data.T.note);
                            $('#id_title').val(data.T.id);
                            $('#modalUpdate').modal("show");
                        } else {
                            alert(data.message);
                        }
                    }
                })
         }

         //Cập nhật thông tin người dùng
        $('#btnEdit').click(function () {
                let id = $('#id_title').val();
                let numTitle = $('#up_Title').val();
                let content = $('#up_Content').val();
                let hk1 = $('#up_HK1').val();
                let hk2 = $('#up_HK2').val();
                let hk3 = $('#up_HK3').val();
                let describe = $('#up_Describe').val();
                let source = $('#up_Source').val();
                let note = $('#up_Note').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateTittleAdvisor", "PlansAdvisor")',
                    data: {
                        id: id,
                        numTitle: numTitle,
                        content: content,
                        hk1: hk1,
                        hk2: hk2,
                        hk3: hk3,
                        describe: describe,
                        source: source,
                        note: note,
                    },
                    success: function (data) {
                            if (data.success == true) {
                                alert(data.message);
                                $('#modalUpdate').modal('hide');
                                location.reload();
                            } else {
                                alert(data.message);
                            }
                        }
                     })
            })

        function HideModalUp() {
            $("#modalUpdate").modal("hide");
            $("#modalAssignment").modal("hide");
        }

        function HideModalCopy() {
            $("#modalCopy").modal("hide");
        }


         $(document).ready(function () {
        $('#btnUpload').click(function () {
            var formData = new FormData();
            var idtitle = $("#txtIDTitle").val();
            var content = $("#txtContent").val();
            var describe = $("#txtDescribe").val();
            var source = $("#txtSource").val();
            var note = $("#txtNote").val();
            var year = @yearNow;
            var id_class = @id_class;
            formData.append("idtitle", idtitle);
            formData.append("content", content);
            formData.append("describe", describe);
            formData.append("source", source);
            formData.append("note", note);
            formData.append("year", year);
            formData.append("id_class", id_class);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateTitleAdvisor", "PlansAdvisor")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success == false) {
                        alert(data.message);
                    } else {
                        $("#txtIDTitle").val("1");
                        $("#txtContent").val("");
                        $("#txtDescribe").val("");
                        $("#txtSource").val("");
                        $("#txtNote").val("");
                        $("#modalCreate").modal("hide");
                        alert(data.message);
                        location.reload()
                    }
                }
             })
        })
         })

         //Sự kiện xóa
         function Delete(id) {
             if (confirm("Bạn thực sự muốn xóa đề mục này?")) {
                $.ajax({
                    url: '@Url.Action("DeleteTitleAdvisor", "PlansAdvisor")',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function (data) {
                         if (data.success == true) {
                             alert(data.message);
                             location.reload()
                         } else {
                             alert(data.message);
                         }
                    }
                })
            }
         }


        //Export template
        function ExportTemplate() {
            $.ajax({
                url: '@Url.Action("ExportTemplateAdvisor", "PlansAdvisor")',
                type: 'POST',
                data: {
                    id_class: @id_class
                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    var bytes = new Uint8Array(data.FileContents);
                    var blob = new Blob([bytes], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.href = downloadUrl;
                    a.download = data.FileDownloadName;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
                error: function (err) {
                    alert(err);
                },
            })
    }

        function SubmitPlan() {
            $.ajax({
                url: '@Url.Action("SubmitPlan", "PlansAdvisor")',
                type: 'POST',
                data: {
                    id_class: @id_class
                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    if (data.success == true) {
                        location.reload()
                    } else {
                        alert(data.message);
                    }
                }
            })
    }

    function UndoPlan() {
        $.ajax({
                url: '@Url.Action("UndoPlan", "PlansAdvisor")',
                type: 'POST',
                data: {
                    id_class: @id_class
                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    if (data.success == true) {
                        location.reload()
                    } else {
                        alert(data.message);
                    }
                }
            })
    }
</script>

