@model AdvisorManagement.Models.TitlePlan

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
}

<h2>Chỉnh sửa đề mục</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Đề mục kế hoạch cố vấn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.title, "Tiêu đề", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.content, "Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>

        </div>
    </div>
}
<div>
    @Html.ActionLink(" Quay lại trang chính", "Index")
</div>



