    @model IEnumerable<AdvisorManagement.Models.PlanAdvisor>
@using AdvisorManagement.Models;

@{
    ViewBag.Title = "Quản lí kế hoạch năm học";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";

    List<PlanAdvisor> listYear = (List<PlanAdvisor>)ViewBag.listYear;
    List<VLClass> listYearAdvisor = (List<VLClass>)ViewBag.listYearAdvisor;
    var yearNow = (int)Session["yearNow"];
    var roleABC = (string)Session["role"];
    var yearLast = yearNow - 1;
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
         
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Quản lí kế hoạch năm học</h4>
                </div>
                @if (ViewBag.role == "Admin")
                {
                    <div class="page-breadcrumb">
                        <div class="row">
                            <div class="col-12 d-flex no-block align-items-center">
                                <a onclick="CreateTitle()" id="create" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;color:white">
                                    Tạo đề mục<i style="margin-left:5px" class="fas fa-plus"></i>
                                </a>
                                <a href="@Url.Action("PlanSubmited","PlansAdvisor")" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 200px; color: white">
                                    Kế hoạch của cố vấn<i style="margin-left:5px" class="fas fa-file-alt"></i>
                                </a>
                                <a href="@Url.Action("ProofPlan","PlansAdvisor")" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px; color: white">
                                    Xem minh chứng<i style="margin-left:5px" class="fas fa-clipboard-list"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    @if (ViewBag.role == "Admin")
                    {
                        <div class="col-6 row mx-3">
                            <label for="cars">Năm học:</label>

                            <select id="semester" name="semester" onchange="myFunction()"  class="col-6 ">
                                <option selected value="@yearNow">@yearLast - @yearNow</option>
                                @foreach (var item in listYear)
                                {
                                    var i = item.year - 1;
                                    <option value="@item.year">@i - @item.year</option>
                                }



                            </select>
                            <a onclick="ExportTemplate()" class="btn btn-success" style=" margin-left: 5px; width: 150px; color: white">
                                Xuất template <i class="fas fa-download"></i>
                            </a>
                            <button hidden id="copy" name="copy" class="btn btn-success" style="margin-left: 5px; width: 200px; height: 35px; color: white">
                                Sao chép template <i class="fas fa-copy"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="col-4 row mx-3" >
                            <label for="cars">Năm học:</label>
                            <select class="col-6" id="year" name="year" onchange="filterFunction()">
                                <option selected value="@yearNow">@yearLast - @yearNow</option>
                                @foreach (var item in listYearAdvisor)
                                {
                                    var i = int.Parse(item.semester_name) - 1;
                                    <option value="@item.semester_name">@i - @item.semester_name</option>
                                }
                            </select>
                        </div>
                    }
                    <div class="table-responsive" style="margin-top:10px">
                        @if (ViewBag.role == "Admin")
                        {


                            <table width="100%" id="zero_config_admin" class="table table-hover table-light table-bordered" role="grid" aria-describedby="zero_config_info">
                                <thead>
                                    <tr class="table-active text-uppercase">
                                        <th scop="col" style="text-align:center">            <b> STT </b></th>
                                        <th scop="col" style="text-align:center">            <b> Nội dung</b></th>
                                        <th scop="col" style="text-align:center">            <b> Mô tả công việc</b></th>
                                        <th scop="col" style="text-align:center">            <b> Tài nguyên chuẩn bị</b></th>
                                        <th scop="col" style="text-align:center">            <b> Tiêu chí</b></th>
                                        <th scop="col" style="text-align:center">            <b> Ghi chú</b></th>
                                        <th scop="col" hidden>                               <b> year</b></th>
                                        <th scop="col" style="text-align:center" id="action"><b> Hoạt động</b></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table width="100%" id="zero_config_advisor" class="table table-hover table-light table-bordered" role="grid" aria-describedby="zero_config_info">
                                <thead>
                                    <tr>
                                        <th width="10%" style="text-align:center">STT</th>
                                        <th width="25%" style="text-align:center">Mã lớp học</th>
                                        <th width="15%" style="text-align:center">Người cố vấn</th>
                                        <th width="15%" style="text-align:center">Khóa</th>
                                        @*<th width="15%" style="text-align:center">Ngày nhận</th>*@
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                </tbody>
                            </table>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm đề mục</h4>
                </div>

                <div class="modal-body">
                                    <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-4"><span>Số đề mục:</span></div>
                        <div class="col-md-11">
                            <input id="txtIDTitle" type="number" class="form-control" min="1" value="1" />
                        </div>
                    </div>
                </div>
         
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>Nội dung:</span></div>
                            <div class="col-md-11">
                                <textarea id="txtContent" class="form-control" rows="3" cols="70"> </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>Mô tả:</span></div>
                            <div class="col-md-11">
                                <textarea id="txtDescribe" class="form-control" rows="3" cols="70"> </textarea>
                            </div>
                        </div>
                    </div>
        

                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Tài nguyên:</span></div>
                        <div class="col-md-11"> 
                            <textarea id="txtSource" class="form-control"  rows="3" cols="70"> </textarea>

                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Tiêu chí đánh giá:</span></div>
                        <div class="col-md-11">
                            <input id="txtEvaluate" type="number" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Ghi chú:</span></div>
                        <div class="col-md-11">
                            <input id="txtNote" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnUpload" class="btn btn-primary" type="submit">Thêm</button>
                </div>
                </div>


            </div>
        </div>
    </div>

    <div id="modalUpdate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chỉnh sửa đề mục</h4>
                </div>
                <div class="modal-body">
                    <input hidden id="id_title" value="" />
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                            <div class="col-md-4"><span>Số đề mục:</span></div>
                            <div class="col-md-11">
                                <input id="up_Title" type="number" class="form-control" min="1" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>Nội dung:</span></div>
                            <div class="col-md-11">
                                <textarea id="up_Content" class="form-control" rows="3" cols="70"> </textarea>

                            
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>Mô tả:</span></div>
                            <div class="col-md-11">
                           
                                <textarea id="up_Describe" class="form-control" rows="3" cols="70"> </textarea>

                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>Tài nguyên:</span></div>
                            <div class="col-md-11">
                                <textarea id="up_Source" class="form-control" rows="3" cols="70"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>Tiêu chí đánh giá:</span></div>
                            <div class="col-md-11">
                                <input id="up_Evaluate" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>Ghi chú:</span></div>
                            <div class="col-md-11">
                                <input id="up_Note" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button onclick="HideModalUp()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnEdit" class="btn btn-primary" type="submit">Sửa</button>
                </div>

            </div>
        </div>
    </div>

    @*<div id="modalAssignment" class="modal fade" role="dialog">
        <div class="modal-dialog">

             Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Phân quyền template</h4>
                </div>
                <input hidden id="id_title" value="" />
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Lớp:</span></div>
                        <div class="col-md-8">
                            <select id="class" name="class" onchange="myFunction()">
                                @foreach (var item in listClass)
                                {
                                    <option value="@item.id">@item.class_code - @item.semester_name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button onclick="HideModalUp()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnAssingment" class="btn btn-primary">Phân quyền</button>
                </div>

            </div>
        </div>
    </div>*@
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.js"></script>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
<script>
        //Lấy data khi vừa vào web admin
         var dataTable = $("#zero_config_admin").DataTable({
         'ajax': {
                'url': '@Url.Action("GetData", "PlansAdvisor")',
                'data': function (d) {
                 var input = document.getElementById("semester");
                 filter = input.value.toUpperCase();
                 d.year = filter ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'number_title', 'width': '0%' },
                 { 'data': 'content', 'width': '20%' },
                 { 'data': 'describe', 'width': '20%' },
                 { 'data': 'source', 'width': '20%' },
                 { 'data': 'evaluate', 'width': '   10%' },
                 { 'data': 'note', 'width': '15%' },
                 {
                     'data': 'id', 'width': '20%', 'render': function (data) {
                         return '<button onclick="Update(' + data + ')" class="btn btn-info">Sửa <i class="fas fa-tasks" ></i></button > <button onclick="Delete(' + data + ')" class="btn btn-danger" >Xóa <i class="fas fa-trash-alt" ></i ></button >@* <a id="proof" href="@Url.Action("Details", "PlansAdvisor")/' + data + '/" class="btn btn-info">Minh chứng <i class="fas fa-edit"></i></a>*@'
                     }
                 },
                 ],
             'bAutoWidth': false,
             'responsive': false,
             "order": [[0, "asc"]],
             'ordering': false,
             'rowsGroup': [0,1],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
                 "infoFiltered": "(Được lọc  từ _MAX_ mục)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "Không tìm thấy dữ liệu",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             }
         });


        $(document).ready(function () {
        if ("@roleABC" == "Advisor") {
         $("#zero_config_admin").dataTable().fnDestroy();
         var dataTable = $("#zero_config_advisor").DataTable({
         'ajax': {
                'url': '@Url.Action("GetDataAdvisor", "PlansAdvisor")',
                'data': function (d) {
                 /*var input = document.getElementById("semester");
                 filter = input.value.toUpperCase();*/
                 d.year = @yearNow ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'ID', 'width': '5%', },
                 {
                     'data': 'idClass', 'width': '25%', 'render': function (data, type, row) {
                             return '<a id="proof" href="@Url.Action("DetailClass", "PlansAdvisor")/' + row.ID + '/" >' + data + '</a>';
                     }
                 },
                 { 'data': 'name', 'width': '25%' },
                 { 'data': 'course', 'width': '30%' },
                 ],
             'bAutoWidth': false,
             'responsive': false,
             "order": [[0, "asc"]],
             'ordering': false,
             'rowsGroup': [0, 1],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
                 "infoFiltered": "(Được lọc  từ _MAX_ mục)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "Không tìm thấy dữ liệu",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             }
         });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        }
        });

        //filter data khi Admin chọn năm-->-->-->-->
        function myFunction() {
            var input = document.getElementById("semester");
            filter = input.value.toUpperCase();
            if (filter != @yearNow) {
                seleclYear()
            } else {
                selectYearNow()
            }
        }
     function seleclYear() {
         document.getElementById("copy").hidden = false;
         $("#zero_config_admin").dataTable().fnDestroy();
         var dataTableA = $("#zero_config_admin").DataTable({
         'ajax': {
                'url': '@Url.Action("GetData", "PlansAdvisor")',
                'data': function (d) {
                 var input = document.getElementById("semester");
                 filter = input.value.toUpperCase();
                 d.year = filter ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'number_title', 'width': '0%' },
                 { 'data': 'content', 'width': '20%' },
                 { 'data': 'describe', 'width': '20%' },
                 { 'data': 'source', 'width': '20%' },
                 { 'data': 'evaluate', 'width': '   10%' },
                 { 'data': 'note', 'width': '15%' },
                 {
                     'data': 'id', 'width': '20%', 'render': function (data) {
                         return '<button onclick="Update(' + data + ')" class="btn btn-info">Sửa <i class="fas fa-tasks" ></i></button > <button onclick="Delete(' + data + ')" class="btn btn-danger" >Xóa <i class="fas fa-trash-alt" ></i ></button >@* <a id="proof" href="@Url.Action("Details", "PlansAdvisor")/' + data + '/" class="btn btn-info">Minh chứng <i class="fas fa-edit"></i></a>*@'
                     }
                 },
                 ],
             'bAutoWidth': false,
             'responsive': false,
             "order": [[0, "asc"]],
             'ordering': false,
             'rowsGroup': [0,1],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
                 "infoFiltered": "(Được lọc  từ _MAX_ mục)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "Không tìm thấy dữ liệu",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             }
         });
         dataTableA.on('order.dt search.dt', function () {
                let i = 1;
                dataTableA.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        }
    function selectYearNow() {
            document.getElementById("copy").hidden = true;
            $("#zero_config_admin").dataTable().fnDestroy();
        var dataTableA = $("#zero_config_admin").DataTable({
         'ajax': {
                'url': '@Url.Action("GetData", "PlansAdvisor")',
                'data': function (d) {
                 var input = document.getElementById("semester");
                 filter = input.value.toUpperCase();
                 d.year = filter ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'number_title', 'width': '0%' },
                 { 'data': 'content', 'width': '20%' },
                 { 'data': 'describe', 'width': '20%' },
                 { 'data': 'source', 'width': '20%' },
                 { 'data': 'evaluate', 'width': '   10%' },
                 { 'data': 'note', 'width': '15%' },
                 {
                     'data': 'id', 'width': '20%', 'render': function (data) {
                         return '<button onclick="Update(' + data + ')" class="btn btn-info">Sửa <i class="fas fa-tasks" ></i></button > <button onclick="Delete(' + data + ')" class="btn btn-danger" >Xóa <i class="fas fa-trash-alt" ></i ></button >@* <a id="proof" href="@Url.Action("Details", "PlansAdvisor")/' + data + '/" class="btn btn-info">Minh chứng <i class="fas fa-edit"></i></a>*@'
                     }
                 },
                 ],
             'bAutoWidth': false,
             'responsive': false,
             "order": [[0, "asc"]],
             'ordering': false,
             'rowsGroup': [0,1],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
                 "infoFiltered": "(Được lọc  từ _MAX_ mục)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "Không tìm thấy dữ liệu",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             }
         });
         dataTableA.on('order.dt search.dt', function () {
                let i = 1;
                dataTableA.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
    }

        function filterFunction() {
            $("#zero_config_advisor").dataTable().fnDestroy();
            var dataTable = $("#zero_config_advisor").DataTable({
                 'ajax': {
                        'url': '@Url.Action("GetDataAdvisor", "PlansAdvisor")',
                        'data': function (d) {
                         var input = document.getElementById("year");
                         filter = input.value.toUpperCase();
                            d.year = filter ;
                         },
                        'type': 'get',
                        'datatype':'json',
                 },
                 'columns':
                     [
                         { 'data': 'ID', 'width': '5%', },
                         {
                             'data': 'idClass', 'width': '25%', 'render': function (data, type, row) {
                                     return '<a id="proof" href="@Url.Action("DetailClass", "PlansAdvisor")/' + row.ID + '/" >' + data + '</a>';
                             }
                         },
                         { 'data': 'name', 'width': '25%' },
                         { 'data': 'course', 'width': '30%' },
                         ],
                'bAutoWidth': false,
                'responsive': false,
                "order": [[0, "asc"]],
                'ordering': false,
                'rowsGroup': [0, 1],
                'language': {
                    "decimal": "",
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                    "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
                    "infoFiltered": "(Được lọc  từ _MAX_ mục)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Hiển thị _MENU_ mục",
                    "loadingRecords": "Đang tải...",
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy dữ liệu",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Sau",
                        "previous": "Trước"
                    },
                }
                 });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        }

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function CreateTitle() {
            $("#modalCreate").modal("show");
        }

        function CopyTemplate() {
            $("#modalCopy").modal("show");
        }

        function HideModal() {
            $("#modalCreate").modal("hide");
    }

        //Lấy thông tin người dùng để cập nhật
         function Update(id) {
              $.ajax({
                    url:'@Url.Action("Update", "PlansAdvisor")',
                    type: 'get',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.success == true) {
                            $('#up_Title').val(data.T.number_title);
                            $('#up_Content').val(data.T.content);
                            $('#up_Describe').val(data.T.describe);
                            $('#up_Source').val(data.T.source);
                            $('#up_Note').val(data.T.note);
                            $('#up_Evaluate').val(data.T.evaluate);
                            $('#id_title').val(data.T.id);
                            $('#modalUpdate').modal("show");
                        } else {
                            alert(data.message);
                        }
                    }
                })
         }

         //Cập nhật thông tin người dùng
        $('#btnEdit').click(function () {
                let id = $('#id_title').val();
            let numTitle = $('#up_Title').val();
            if (numTitle != "") {
                let content = $('#up_Content').val();
                let describe = $('#up_Describe').val();
                let source = $('#up_Source').val();
                let note = $('#up_Note').val();
                let evaluate = $('#up_Evaluate').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateTittle", "PlansAdvisor")',
                    data: {
                        id: id,
                        numTitle: numTitle,
                        content: content,
                        describe: describe,
                        source: source,
                        note: note,
                        evaluate: evaluate
                    },
                    success: function (data) {
                        if (data.success == true) {
                            $('#modalUpdate').modal('hide');
                            Swal.fire({
                                icon: "success",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    dataTable.ajax.reload(null, false);
                                }
                            })
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    dataTable.ajax.reload(null, false);
                                }
                            })
                        }
                    }
                })
            } else {
                Swal.fire({
                    icon: "error",
                    title: "Vui lòng nhập đầy đủ trường dữ liệu",
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    }
                }).then(function (result) {
                    if (result.value) {
                    }
                })
            }
            })

        function HideModalUp() {
            $("#modalUpdate").modal("hide");
            $("#modalAssignment").modal("hide");
        }

        function HideModalCopy() {
            $("#modalCopy").modal("hide");
        }


         $(document).ready(function () {
        $('#btnUpload').click(function () {
            var formData = new FormData();
            var idtitle = $("#txtIDTitle").val();
            var content = $("#txtContent").val();
            var describe = $("#txtDescribe").val();
            var source = $("#txtSource").val();
            var note = $("#txtNote").val();
            var evaluate = $("#txtEvaluate").val();
            if (idtitle != "") {
                formData.append("idtitle", idtitle);
                formData.append("content", content);
                formData.append("describe", describe);
                formData.append("source", source);
                formData.append("note", note);
                formData.append("evaluate", evaluate);
                $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateTitle", "PlansAdvisor")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success == false) {
                        Swal.fire({
                            icon: "error",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                            }
                        })
                    } else {
                        $("#txtIDTitle").val("1");
                        $("#txtContent").val("");
                        $("#txtDescribe").val("");
                        $("#txtSource").val("");
                        $("#txtNote").val("");
                        $("#txtEvaluate").val("");
                        $("#modalCreate").modal("hide");
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                dataTable.ajax.reload(null, false);
                            }
                        })
                    }
                }
             })
            } else {
                Swal.fire({
                    icon: "error",
                    title: data.message,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    }
                }).then(function (result) {
                    if (result.value) {
                    }
                })
            }
        })
         })

         //Sự kiện xóa
         function Delete(id) {
              Swal.fire({
                  title: "Bạn thực sự muốn xóa đề mục này?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Xóa",
                    cancelButtonText: "Hủy",
                    reverseButtons: true
                    }).then(function (result) {
                        if (result.value) {
                             $.ajax({
                    url: '@Url.Action("Delete", "PlansAdvisor")',
                    type: 'POST',
                    data: {
                        id: id
                    },
                                    success: function (data) {
                                        if (data.success == true) {
                                            Swal.fire({
                                                icon: "success",
                                                title: data.message,
                                                showClass: {
                                                    popup: 'animate__animated animate__fadeInDown'
                                                },
                                                hideClass: {
                                                    popup: 'animate__animated animate__fadeOutUp'
                                                }
                                            }).then(function (result) {
                                                if (result.value) {
                                                    dataTable.ajax.reload(null, false);
                                                }
                                             })


                                         } else {
                                             Swal.fire(
                                                 'Thông báo',
                                                 data.message
                                             );
                                         }
                                    }
                              })
                            //Swal.fire(
                            //    "Deleted!",
                            //    "Your file has been deleted.",
                            //    "success",
                            //)
                            // result.dismiss can be "cancel", "overlay",
                            // "close", and "timer"
                        } else if (result.dismiss === "cancel") {

                    }
                });

         }

        //Copy template
        $(document).on('click', "button[name=copy]", function () {
            input = document.getElementById("semester");
            let year = input.value.toUpperCase();
            Swal.fire({
                text: 'Hệ thống đang xử lí !',
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()

                },
            });
            $.ajax({
                url: '@Url.Action("Copy", "PlansAdvisor")',
                type: 'POST',
                data: {
                    id: year
                },
                success: function (data) {
                     if (data.success == true) {
                         Swal.fire({
                             icon: "success",
                             title: data.message,
                             showClass: {
                                 popup: 'animate__animated animate__fadeInDown'
                             },
                             hideClass: {
                                 popup: 'animate__animated animate__fadeOutUp'
                             }
                         }).then(function (result) {
                             if (result.value) {
                                 location.reload();
                             }
                         })
                     } else {
                         Swal.fire({
                             icon: "error",
                             title: data.message,
                             showClass: {
                                 popup: 'animate__animated animate__fadeInDown'
                             },
                             hideClass: {
                                 popup: 'animate__animated animate__fadeOutUp'
                             }
                         }).then(function (result) {
                             if (result.value) {
                                 location.reload();
                             }
                         })
                     }
                }
            })
        })

        //Export template
        function ExportTemplate() {
            input = document.getElementById("semester");
            let id = input.value.toUpperCase();
            Swal.fire({
                text: 'Hệ thống đang xử lí !',
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()

                },
            });
            $.ajax({
                url: '@Url.Action("ExportTemplate", "PlansAdvisor")',
                type: 'POST',
                data: {
                    year: id
                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    Swal.close();
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Xuất dữ liệu thành công.'
                    });
                    var bytes = new Uint8Array(data.FileContents);
                    var blob = new Blob([bytes], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.href = downloadUrl;
                    a.download = data.FileDownloadName;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
                error: function (err) {
                    Swal.close();
                    alert(err);
                },
            })
        }

@*    function popupAssignment() {
        $('#modalAssignment').modal("show");
    }

    $('#btnAssingment').click(function () {
        inputYear = document.getElementById("semester");
        let ip_year = parseInt(inputYear.value.toUpperCase());
        inputClass = document.getElementById("class");
        let classVL = inputClass.value.toUpperCase();
        $.ajax({
                url: '@Url.Action("AssignmentTemplate", "PlansAdvisor")',
                type: 'POST',
                data: {
                    id_class: classVL,
                    year: ip_year
                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    if (data.success == true) {
                        $('#modalAssignment').modal("hide");
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                },
                error: function (err) {
                    alert(err);
                },
            })
    })*@

</script>

