
@model IEnumerable<AdvisorManagement.Models.PlanAdvisor>
@using AdvisorManagement.Models;

@{
    ViewBag.Title = "Kiểm tra kế hoạch";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    List<VLClass> listYearAdvisor = (List<VLClass>)ViewBag.listYearAdvisor;
    var yearNow = (int)Session["yearNow"];
    var roleABC = (string)Session["role"];
    var yearLast = yearNow - 1;
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Kiểm tra kế hoạch</h4>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <a onclick="ListAdvisor()" class="btn btn-info" style="margin-bottom: 5px; margin-left: 5px; width: 250px;">
                                Danh sách cố vấn chưa nộp<i style="margin-left:5px" class="fas fa-clipboard-list"></i>
                            </a>
                            <a href="@Url.Action("ExportAllTemplateAdvisor","PlansAdvisor")" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 250px; color:white">
                                Xuất tất cả kế hoạch<i style="margin-left:5px" class="fas fa-download"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="">
                        <label for="cars">Năm học:</label>
                        <select id="year" name="year" onchange="filterFunction()">
                            <option selected value="0">ALL</option>
                            @foreach (var item in listYearAdvisor)
                            {
                                var i = int.Parse(item.semester_name) - 1;
                                <option value="@item.semester_name">@i - @item.semester_name</option>
                            }
                        </select>
                    </div>

                    <div class="table-responsive" style="margin-top:10px">
                        <table width="100%" id="zero_config" class="table table-hover table-light table-bordered" role="grid" aria-describedby="zero_config_info">
                            <thead>
                                <tr class="table-active text-uppercase">
                                    <th width="5%" style="text-align:center">STT</th>
                                    <th width="20%" style="text-align:center">Mã lớp học</th>
                                    <th width="20%" style="text-align:center">Người cố vấn</th>
                                    <th width="20%" style="text-align:center">Trạng thái</th>
                                    <th width="25%" style="text-align:center">Hoạt động</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                            </tbody>
                        </table>
                        <a href="javascript:history.back()" class="btn btn-primary" style="margin-right : 70%;width: 100px;">
                            Quay lại
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalCheck" class="modal fade" role="document">
        <div class="modal-dialog" style="max-width: 90%;" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                @*                <span class="close" style="color: #aaaaaa; float: right; font-size: 28px; font-weight: bold">&times;</span>*@
                <div class="modal-header">
                    <input hidden id="id_class" value="" />
                    <h4 class="modal-title">Kế hoạch cố vấn</h4>
                </div>
                <div class="table-responsive" style="margin-top:10px">
                    <table width="100%" id="zero_config_plan" class="table table-hover table-light table-bordered" role="grid" aria-describedby="zero_config_info">
                        <thead>
                            <tr class="table-active text-uppercase">
                                <th style="text-align:center">STT</th>
                                <th style="text-align:center">Nội dung</th>
                                <th style="text-align:center">HK1</th>
                                <th style="text-align:center">HK2</th>
                                <th style="text-align:center">HK3</th>
                                <th style="text-align:center">Mô tả công việc</th>
                                <th style="text-align:center">Tài nguyên chuẩn bị</th>
                                <th style="text-align:center">Ghi chú</th>
                                <th hidden>year</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>
                    </table>
                </div>
                <div class="modal-body">
                    <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class=""><span>Tiêu đề:</span><input id="txt_subject_check" type="text" class="form-control" value="" /></div>
                    </div>
                    <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="form-group">
                            <label for="pwd">Nội dung:</label>
                            <div id="editor"></div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button onclick="SendReturnPlan()" type="button" class="btn btn-default" data-dismiss="modal">Phản hồi kế hoạch</button>
                        <button onclick="SendBrowsePlan()" type="button" class="btn btn-success" style="color:white" data-dismiss="modal">Duyệt kế hoạch</button>

                        <button onclick="HideModal()" type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="modalDone" class="modal fade" role="document">
        <div class="modal-dialog" style="max-width: 90%;" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                @*                <span class="close" style="color: #aaaaaa; float: right; font-size: 28px; font-weight: bold">&times;</span>*@
                <div class="modal-header">
                    <input hidden id="id_class" value="" />
                    <h4 class="modal-title">Kế hoạch cố vấn</h4>
                </div>
                <div class="table-responsive" style="margin-top:10px">
                    <table width="100%" id="zero_config_done" class="table table-hover table-light table-bordered" role="grid" aria-describedby="zero_config_info">
                        <thead>
                            <tr class="table-active text-uppercase">
                                <th style="text-align:center">STT</th>
                                <th style="text-align:center">Nội dung</th>
                                <th style="text-align:center">HK1</th>
                                <th style="text-align:center">HK2</th>
                                <th style="text-align:center">HK3</th>
                                <th style="text-align:center">Mô tả công việc</th>
                                <th style="text-align:center">Tài nguyên chuẩn bị</th>
                                <th style="text-align:center">Ghi chú</th>
                                <th hidden>year</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>
                    </table>
                </div>
   

                    <div class="modal-footer">

                       

                        <button onclick="HideModalDone()" type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>

                    </div>
     
            </div>
        </div>
    </div>
        </div>

<div id="modalListAdvisor" class="modal fade" role="document">
    <div class="modal-dialog" style="max-width: 60%;" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            @*                <span class="close" style="color: #aaaaaa; float: right; font-size: 28px; font-weight: bold">&times;</span>*@
            <div class="modal-header">
                <input hidden id="id_class" value="" />
                <h4 class="modal-title">Danh sách cố vấn chưa nộp kế hoạch năm học</h4>
            </div>
            <div class="table-responsive" style="margin-top:10px">
                <table width="100%" id="zero_config_listadvisor" class="table table-hover table-light table-bordered" role="grid" aria-describedby="zero_config_info">
                    <thead>
                        <tr class="table-active text-uppercase">
                            <th style="text-align:center">STT</th>
                            <th style="text-align:center">Tên cố vấn</th>
                            <th style="text-align:center">Lớp chưa nộp</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                    </tbody>
                </table>
            </div>
            <div class="modal-body">

                <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class=""><span>Đến:</span><input id="txt_to" type="text" class="form-control" value="" disabled /></div>
                </div>
                <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class=""><span>Tiêu đề:</span><input id="txt_subject" type="text" class="form-control" value="" /></div>
                </div>
                <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="form-group">
                        <label for="pwd">Nội dung:</label>
                        <div id="editor"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="HideListAdvisor()" type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                    <button onclick="SendRemind()" type="button" class="btn btn-default" data-dismiss="modal">Gửi</button>
                </div>
            </div>

            @*<div id="remind"">

                </div>*@
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.js"></script>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
<script>
    var myEditor;
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            myEditor = editor;

        })
        .catch(err => {
            console.error(err.stack);
        });
</script>
<script>

        //Lấy data khi vừa vào web admin
         var dataTable = $("#zero_config").DataTable({
         'ajax': {
                'url': '@Url.Action("GetListPlanSubmited", "PlansAdvisor")',
                'data': function (d) {
                 var input = document.getElementById("year");
                         filter = input.value.toUpperCase();
                    d.year = filter;
                         },
                'type': 'get',
                 'datatype': 'json',
         },
         'columns':
             [
                 { 'data': 'id', 'width': '5%', },
                 { 'data': 'class_code', 'width': '20%'},
                 { 'data': 'user_name', 'width': '20%' },
                 { 'data': 'status', 'width': '20%' },
                 {

                     'data': 'id_class', 'width': '25%', 'render': function (data, type, row) {

                         if (row.status == "Chờ duyệt") {
                             return '<button onclick="Check(' + data + ')" class="btn btn-success"  style="margin-bottom: 10px; margin-left: 20px; width: 150px;color:white">Kiểm tra <i class="fas fa-clipboard-check"></i></button> <button onclick="ExportExcel(' + data + ')" class="btn btn-success"  style="margin-bottom: 10px; margin-left: 20px; width: 150px;color:white">Xuất excel <i class="fas fa-download"></i></button>';
                         } else {
                             return '<button onclick="ShowDone(' + data + ')" class="btn btn-success"  style="margin-bottom: 10px; margin-left: 20px; width: 150px;color:white">Kiểm tra <i class="fas fa-clipboard-check"></i></button> <button onclick="ExportExcel(' + data + ')" class="btn btn-success"  style="margin-bottom: 10px; margin-left: 20px; width: 150px;color:white">Xuất excel <i class="fas fa-download"></i></button>';

                         }



                     }
                 },
                 ],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "",
                 "infoFiltered": "(filtered from _MAX_ total entries)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "Không tìm thấy dữ liệu",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             },
             "order": [[3, "asc"]],

         });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();


        function filterFunction() {
            $("#zero_config").dataTable().fnDestroy();
            var dataTable = $("#zero_config").DataTable({
         'ajax': {
                'url': '@Url.Action("GetListPlanSubmited", "PlansAdvisor")',
                'data': function (d) {
                 var input = document.getElementById("year");
                         filter = input.value.toUpperCase();
                            d.year = filter ;
                         },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'id', 'width': '5%', },
                 { 'data': 'class_code', 'width': '20%'},
                 { 'data': 'user_name', 'width': '20%' },
                 { 'data': 'status', 'width': '20%' },
                 {
                     'data': 'id_class', 'width': '25%', 'render': function (data, type, row) {
                         return '<button onclick="Check(' + data + ')" class="btn btn-success">Kiểm tra <i class="fas fa-file"></i></button> <button onclick="ExportExcel(' + data + ')" class="btn btn-success">Export excel<i class="fas fa-file"></i></button>';
                     }
                 },
                    ],
                "order": [[3, "desc"]],
         });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();

        }

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function ShowDone(id_class) {
            jQuery('#modal-footer').empty();
            $('#id_class').val(id_class);
            $(document).on('destroy.dt', function (e, settings) {
                var api = new $.fn.dataTable.Api(settings);
                api.off('order.dt');
                api.off('preDraw.dt');
                api.off('column-visibility.dt');
                api.off('search.dt');
                api.off('page.dt');
                api.off('length.dt ');
                api.off('xhr.dt');
            });
            $("#zero_config_done").dataTable().fnDestroy();
            $.ajax({
                    url: '@Url.Action("GetListPlanSubmitedClass", "PlansAdvisor")',
                    type: 'GET',
                    data: {
                        id_class: id_class
                    },
                    /*contentType: "application/json; charset=utf-8", */
                    success: function (data) {
                        if (data.success == true) {
                            GeneraTableDone(id_class)
                            $('#modal-footer').append(`<button onclick="HideModal()" type="button" class="btn btn-danger" data-dismiss="modal">Trở về</button>`);
                        } else {
                            GeneraTableDone(id_class);
                            $('#modal-footer').append(`<button onclick="HideModal()" type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>`);
                        }
                    }
                })
                /*dataTable.on('order.dt search.dt', function () {
                    let i = 1;
                    dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                        this.data(i++);
                    });
                }).draw();*/
            $("#modalDone").modal('show');
        }
        function HideModalDone() {
            $("#modalDone").modal('hide');
        }
        function GeneraTableDone(id_class) {
            $("#zero_config_done").DataTable({
             'ajax': {
                    'url': '@Url.Action("GetListPlanSubmitedClass", "PlansAdvisor")',
                    'data': function (d) {
                        d.id_class = id_class;
                     },
                    'type': 'get',
                    'datatype': 'json',
             },
             'columns':
                 [
                     { 'data': 'number_title', 'width': '1%', },
                     { 'data': 'content', 'width': '25%'},
                     { 'data': 'hk1', 'width': '3%' },
                     { 'data': 'hk2', 'width': '3%' },
                     { 'data': 'hk3', 'width': '3%' },
                     { 'data': 'describe', 'width': '30%' },
                     { 'data': 'source', 'width': '25%' },
                     { 'data': 'note', 'width': '10%' },
                    ],
                "autoWidth": false,
                "aLengthMenu": [[-1], ["All"]],
                "bLengthChange": false,
                "bPaginate": false,
                "bInfo": false,
                responsive: true,
                "rowsGroup": [0, 1],
             });
        }

        function Check(id_class) {
        jQuery('#modal-footer').empty();
        $('#id_class').val(id_class);
        $(document).on('destroy.dt', function (e, settings) {
            var api = new $.fn.dataTable.Api(settings);
            api.off('order.dt');
            api.off('preDraw.dt');
            api.off('column-visibility.dt');
            api.off('search.dt');
            api.off('page.dt');
            api.off('length.dt ');
            api.off('xhr.dt');
        });
        $("#zero_config_plan").dataTable().fnDestroy();
        $.ajax({
                url: '@Url.Action("GetListPlanSubmitedClass", "PlansAdvisor")',
                type: 'GET',
                data: {
                    id_class: id_class
                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    if (data.success == true) {
                        GeneraTable(id_class)
                        $('#modal-footer').append(`<button onclick="HideModal()" type="button" class="btn btn-danger" data-dismiss="modal">Trở về</button>`);
                    } else {
                        GeneraTable(id_class);
                        $('#modal-footer').append(`<button onclick="HideModal()" type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>`);
                    }
                }
            })
            /*dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();*/
        $("#modalCheck").modal('show');
    }

    function GeneraTable(id_class) {
        $("#zero_config_plan").DataTable({
         'ajax': {
                'url': '@Url.Action("GetListPlanSubmitedClass", "PlansAdvisor")',
                'data': function (d) {
                    d.id_class = id_class;
                 },
                'type': 'get',
                'datatype': 'json',
         },
         'columns':
             [
                 { 'data': 'number_title', 'width': '1%', },
                 { 'data': 'content', 'width': '25%'},
                 { 'data': 'hk1', 'width': '3%' },
                 { 'data': 'hk2', 'width': '3%' },
                 { 'data': 'hk3', 'width': '3%' },
                 { 'data': 'describe', 'width': '30%' },
                 { 'data': 'source', 'width': '25%' },
                 { 'data': 'note', 'width': '10%' },
                ],
            "autoWidth": false,
            "aLengthMenu": [[-1], ["All"]],
            "bLengthChange": false,
            "bPaginate": false,
            "bInfo": false,
            responsive: true,
            "rowsGroup": [0, 1],
         });
    }

    function HideModal() {
        $("#modalCheck").modal('hide');
    }

    function ReturnPlan() {
        jQuery('#modal-footer').empty();
        $('#modal-footer').append(`
  <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class=""><span>Tiêu đề:</span><input id="subject_return" type="text" class="form-control" value=""/></div>
                    </div>
          <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">


         <div class="">
            <span>Nội dung:</span>
            <div id="editor"></div>
          </div>
                    </div>
        <button onclick="HideModal()" type="button" class="btn btn-danger" data-dismiss="modal">Trở về</button> <button onclick = "SendReturnPlan()" type = "button" class= "btn btn-default" data - dismiss="modal" > Trả về</button >`);
    }

    function SendReturnPlan() {
        var editorData = myEditor.getData();
        var subject = $('#txt_subject_check').val();
        var message = `${editorData.toString()}`;
        let id_class = $('#id_class').val();
        $.ajax({
                url: '@Url.Action("ReturnPlan", "PlansAdvisor")',
                type: 'POST',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify({
                    id_class: id_class,
                    message: message,
                    subject: subject
                }),
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    if (data.success == true) {
                        $("#modalCheck").modal('hide');
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();


                            }
                        })

                    } else {
                        Swal.fire({
                            icon: "error",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                            }
                        })
                    }
                }
            })
    }

    function BrowsePlan() {
        jQuery('#modal-footer').empty();
        $('#modal-footer').append(`
  <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class=""><span>Tiêu đề:</span><input id="subject_browse" type="text" class="form-control" value=""/></div>
                    </div>
          <div class="col-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class=""><span>Nội dung:</span><textarea maxlength="200" placeholder="Giới hạn 200 từ" id="message_browse" style="width: 100%; height: 80px;padding: 12px 20px ;box-sizing: border-box; border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;font-size: 16px;resize: none;" type="text"></textarea></div>
                    </div>
        <button onclick="HideModal()" type="button" class="btn btn-danger" data-dismiss="modal">Trở về</button> <button onclick = "SendBrowsePlan()" type = "button" class= "btn btn-default" data - dismiss="modal" >Duyệt</button >`);
    }

    function SendBrowsePlan() {
        var editorData = myEditor.getData();
        var subject = $('#txt_subject_check').val();
        var message = `${editorData.toString()}`;
        let id_class = $('#id_class').val();
        $.ajax({
                url: '@Url.Action("BrowsePlan", "PlansAdvisor")',
                type: 'POST',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    id_class: id_class,
                    subject: subject,
                    message: message
                }),
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    if (data.success == true) {
                        $("#modalCheck").modal('hide');
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();


                            }
                        })
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                            }
                        })

                    }
                }
            })
    }

    function ExportExcel(id_class) {
         $.ajax({
                url: '@Url.Action("ExportTemplateAdvisor", "PlansAdvisor")',
                type: 'POST',
                data: {
                    id_class: id_class
                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    var bytes = new Uint8Array(data.FileContents);
                    var blob = new Blob([bytes], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.href = downloadUrl;
                    a.download = data.FileDownloadName;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
                error: function (err) {
                    alert(err);
                },
            })
    }

    function ListAdvisor() {
        jQuery('#remind').empty();
        $("#zero_config_listadvisor").dataTable().fnDestroy();
        dataTable = $("#zero_config_listadvisor").DataTable({
         'ajax': {
                'url': '@Url.Action("GetListAdvisor", "PlansAdvisor")',
                'type': 'get',
                'datatype': 'json',
         },
         'columns':
             [
                 { 'data': 'id', 'width': '5%', },
                 { 'data': 'user_name', 'width': '40%'},
                 { 'data': 'class_code', 'width': '40%' },
                ],
            "autoWidth": false,
            "aLengthMenu": [[-1], ["All"]],
            "bLengthChange": false,
            "bPaginate": false,
            "bInfo": false,
       });
        dataTable.on('order.dt search.dt', function () {
               let i = 1;
               dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                   this.data(i++);
               });
        }).draw();

        this.Remind();
        $("#modalListAdvisor").modal('show');

    }

    function HideListAdvisor() {
        $("#modalListAdvisor").modal('hide');
    }

    function Remind() {
         $.ajax({
                url: '@Url.Action("GetRemind", "PlansAdvisor")',
                type: 'GET',
                /*contentType: "application/json; charset=utf-8", */
             success: function (data) {

                 let email = data.data;
                 console.log(email);
                 $('#txt_to').val(email);
             }
         })
    }

    function SendRemind() {

        var editorData = myEditor.getData();

        var to = $('#txt_to').val();
        var subject = $('#txt_subject').val();
        var message = `${editorData.toString()}`;
        console.log(message);
        if ($('#txt_to').prop("disabled") == true){
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendMailRemind", "PlansAdvisor")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                data:JSON.stringify({
                    to: to,
                    subject: subject,
                    message: message
                }),
                success: function (data) {
                    if (data.success == true) {
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                      
                                location.reload();
                            }
                        })
                    } else {
                        Swal.fire(
                            'Thông báo',
                            data.message
                        );
                    }
                }
            })
        } else {
            Swal.fire({
                icon: "error",
                title: "Nhắc nhở thất bại do có sự thay đổi",
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            }).then(function (result) {
                if (result.value) {
                    location.reload();
                }
            })
        }
    }

</script>