@using AdvisorManagement.Models;


@{
    ViewBag.Title = "Proof";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    IEnumerable<Semester> listSemester = ViewBag.hocky as IEnumerable<Semester>;
    var class_code = Session["class_code"].ToString();
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Danh sách file minh chứng @class_code</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <a onclick="ExportAllProof()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 200px; color:white">
                                Xuất tất cả minh chứng<i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="">
                        <label for="cars">Học kỳ:</label>
                        <select id="semester" onchange="filterFunction()">
                            <option selected value="0">ALL</option>
                            @foreach (var item in listSemester)
                            {
                                <option value="@item.semester_name">@item.semester_name</option>
                            }
                        </select>
                    </div>
                    @* <div class="searchbar">
                            <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Tìm kiếm từ khoá..."
                        </div>*@
                <div class="table-responsive">
                    <table width="100%" id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Nội dung</td>
                                <td>Tên file</td>
                                <td>Người tạo</td>
                                <td>Ngày tạo</td>
                                <td>Học kỳ</td>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>
                    </table>
                    <a href="javascript:history.back()" class="btn btn-primary" style="margin-right : 70%;width: 100px;">
                        Quay lại
                    </a>
                </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Assets/extra-libs/DataTables/datatables.js"></script>
    <script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
         var dataTable = $("#zero_config").DataTable({
         'ajax': {
                'url': '@Url.Action("GetListProof", "PlansAdvisor")',
                'data': function (d) {
                    var input = document.getElementById("semester");
                    filter = input.value.toUpperCase();
                    d.semester = filter;
                         },
                'type': 'get',
                'datatype':'json',
         },
             'columns':
                 [
                     { 'data': 'id', 'width': '5%' },
                     { 'data': 'title', 'width': '30%' },
                     {
                         'data': 'proof', 'width': '25%', 'render': function (data, type, row) {
                             return '<a href="@Url.Action("Download", "PlansAdvisor")/' + row.id + '/" >' + data + '</a>';
                         }
                     },
                     { 'data': 'creator', 'width': '15%' },
                     {
                         'data': 'create_time', 'width': '15%', 'render': function (data) {
                             return moment(data).format("DD-MM-YYYY HH:mm");
                         }
                     },
                     { 'data': 'semester', 'width': '15%' },
                 ],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Showing 0 to 0 of 0 entries",
                 "infoFiltered": "(filtered from _MAX_ total entries)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "No matching records found",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             },
             "order": [[4, "desc"]],

         });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();

         function filterFunction() {
             $("#zero_config").dataTable().fnDestroy();
             var dataTable = $("#zero_config").DataTable({
                 'ajax': {
                'url': '@Url.Action("GetListProof", "PlansAdvisor")',
                'data': function (d) {
                    var input = document.getElementById("semester");
                    filter = input.value.toUpperCase();
                    d.semester = filter;
                         },
                'type': 'get',
                'datatype':'json',
         },
             'columns':
                 [
                     { 'data': 'id', 'width': '5%' },
                     { 'data': 'title', 'width': '30%' },
                      {
                         'data': 'proof', 'width': '25%', 'render': function (data, type, row) {
                             return '<a href="@Url.Action("Download", "PlansAdvisor")/' + row.id + '/" >' + data + '</a>';
                         }
                     },
                     { 'data': 'creator', 'width': '15%' },
                     {
                         'data': 'create_time', 'width': '15%', 'render': function (data) {
                             return moment(data).format("DD-MM-YYYY HH:mm");
                         }
                     },
                     { 'data': 'semester', 'width': '15%' },
                     ],
                 "order": [[4, "desc"]],

         });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        }

        function ExportAllProof() {
             $.ajax({
                url: '@Url.Action("ExportAllProof", "PlansAdvisor")',                               
                /*contentType: "application/json; charset=utf-8", */
                 success: function (data) {
                     console.log(data);
                     if (data.success == true) {
                         var bytes = new Uint8Array(data.file.FileContents);
                         var blob = new Blob([bytes], { type: 'application/zip' });
                         var downloadUrl = URL.createObjectURL(blob);
                         var a = document.createElement("a");
                         a.href = downloadUrl;
                         a.download = data.file.FileDownloadName;
                         document.body.appendChild(a);
                         a.click();
                         document.body.removeChild(a);
                     } else {
                         alert(data.message);
                     }
                   
                },
                error: function (err) {
                    alert(err);
                },
            })
        }

    </script>


