@model AdvisorManagement.Models.VLClass
@using AdvisorManagement.Models;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    IEnumerable<Semester> hocky = ViewBag.hocky as IEnumerable<Semester>;


}


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="~/Validation/ClassManagement/Validation_ClassManagement.js"></script>
</head>

@using (Html.BeginForm())
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-0">Tạo phân công lớp - VLU</h5>
        </div>
        <div class="page-breadcrumb">
            <div class="row">

                <div class="col-12 d-flex no-block align-items-center">
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Admin/ClassManagements/Index">Phân Công Lớp</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Chỉnh Sửa Lớp
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="return" class="form-group">
            <p id="labelclass" class="control-label col-md-2">Lớp học</p>
            <div class="col-7">
                @Html.DropDownList("class_code", null, new { htmlAttributes = new { @class = "form-control", @Style = "width: 300px;" } })
                @Html.ValidationMessageFor(model => model.class_code, "", new { @class = "text-danger" })
                @*<a id="buttonadd" class="btn btn-primary" onclick="myFunctionadd()">
                        Thêm
                    </a>*@
            </div>

        </div>
        <div class="form-group" id="demo" style="display:none">
            <p id="labelclass" class="control-label col-md-2">Lớp học</p>
            <div class="col-7">
                @Html.EditorFor(model => model.class_code, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập mã lớp", @Style = "width: 300px;" } })
                @Html.ValidationMessageFor(model => model.class_code, "", new { @class = "text-danger" })
                <a id="buttoreturn" class="btn btn-primary" onclick="myFunctionreturn()">
                    Quay lại
                </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.advisor_code, "Giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("advisor_code", null, htmlAttributes: new { @class = "form-control", @Style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.advisor_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p id="labelclass" class="control-label col-md-2">Học kỳ</p>
            <select id="semester" name="semester_name" onchange="myFunction()" required>

                @foreach (var item in hocky)
                {
               
                    <option value="@item.semester_name - @item.scholastic">@item.semester_name - @item.scholastic</option>
                }


            </select>

        </div>
        @*<div class="form-group">
                <p id="labelclass" class="control-label col-md-2">Học kỳ</p>
                <div class="col-7">
                    @Html.EditorFor(model => model.semester_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập học kỳ vd: Học kỳ 1 - 2022", @Style = "width: 300px;" } })
                    @Html.ValidationMessageFor(model => model.semester_name, "", new { @class = "text-danger" })
                    <p id="valid_semester" style="color:red"></p>
                </div>

            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <a href="@Url.Action("Index","ClassManagements")" class="btn btn-default">
                    Quay lại
                </a>
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<script>
    //function myFunctionadd() {
    //    var x = document.getElementById("return");
    //    var y = document.getElementById("vlclass");
    //    if (x.style.display === "none") {
    //        x.style.display = "block";
    //        y.style.display = "none"
    //    } else {
    //        x.style.display = "none";
    //    }
    //}
    function myFunctionadd() {

        $('#return').hide();
        $('#demo').show();

    }
    function myFunctionreturn() {

        $('#demo').hide();
        $('#return').show();

    }
</script>

