@model AdvisorManagement.Models.VLClass
@using AdvisorManagement.Models;
@{
    ViewBag.Title = "EditClass";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    IEnumerable<Advisor> advisor = ViewBag.Advisor as IEnumerable<Advisor>;
    IEnumerable<AccountUser> nameUser = ViewBag.nameUser as IEnumerable<AccountUser>;
}



@using (Html.BeginForm())
{
   <div class="card">
       <div class="card-body">
           <h5 class="card-title mb-0">Thông tin lớp - VLU</h5>
       </div>
       <div class="page-breadcrumb">
           <div class="row">

               <div class="col-12 d-flex no-block align-items-center">
                   

                   @*<div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>*@
               </div>
           </div>

       </div>

   </div>
  

    <div class="form-horizontal">
        <h4>Class</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.class_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.class_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.class_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Chọn giảng viên:</label>

            <select name="advisor_code" style=" width: 155px;
                                                                height: 35px; text-align: center; font-size: 15px;" , required="true">
                <option value="0">-----Chọn Giảng viên-----</option>
                @foreach (var item in advisor)
                {
                    if (Model.Advisor.advisor_code == item.advisor_code)
                    {
                        foreach (var itemUser in nameUser)
                        {
                            if (item.advisor_code.Equals(itemUser.user_code))
                            {
                                <
                                <option selected value="@item.advisor_code">@itemUser.user_name</option>
                            }
                        }

                    }
                    else
                    {
                        foreach (var itemUser in nameUser)
                        {
                            if (item.advisor_code.Equals(itemUser.user_code))
                            {
                                <option value="@item.advisor_code">@itemUser.user_name</option>
                            }
                        }

                    }

                }


            </select>

            <p class="text-danger">@ViewBag.ErrorMessage</p>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.create_time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.create_time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.create_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
