
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    var id_notify = ViewBag.id_notify;
    //id_notify = Session["id_notify"].ToString();
}

<div class="col-md-15">
    <div class="divmain">
        <div>
            <div>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Thông báo</h5>
                        </div>

                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <a onclick="Clear()" id="clear" class="btn btn-danger" style="margin-bottom: 5px; margin-left: 5px; width: 200px; color: white">
                                        Xoá hết thông báo<i style="margin-left:5px" class="fas fa-trash-alt"></i>
                                    </a>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-5" style="margin-top:26px">
                        <table width="100%" class="table table-bordered table-striped table-responsive">
                            <h2>Gửi thông báo</h2>

                            <div class="card">
                                <div class="card-body ">
                                    <div class="card-text content ">


                                        <div class="form-group">
                                            <label for="email">Gửi đến:</label>
                                            <input type="email" class="form-control" id="toUser" value="" placeholder="Nhập mail " />
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd">Tiêu đề:</label>
                                            <input type="text" class="form-control" id="myTitle" value="" placeholder="Nhập tiêu đề" />
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd">Nội dung:</label>
                                            <div id="editor"></div>

                               
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd">Đính kèm file:</label>
                                            <input id="fileInput" type="file" multiple hidden />
                                            <i style="padding-left:10px" id="icon_attach" class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-group">
                                            <div id="filelist">
                                                <!--show proccessbar-->
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-default" id="submit">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </div>                   
                    <div class="col-7">

                        <div id="page-content" class="row">
                            <div id="region-main-box" class="col-12">
                                <section id="region-main" aria-label="Content">
                                    <span class="notifications" id="user-notifications"></span>
                                    <div role="main" id="yui_3_17_2_1_1681618016053_21" class="mt-4">
                                        <span id="maincontent"></span><h2 id="yui_3_17_2_1_1681618016053_20">Tất cả thông báo</h2><div class="notification-area" data-region="notification-area" data-user-id="5885" id="yui_3_17_2_1_1681618016053_22" style="background-color :white">
                                            <div class="control-area" data-region="control-area">

                                                <div style="padding-top: 20px;text-align:center">Bạn đang không có thông báo nào</div>

                                            </div>
                                            <div class="content-area" data-region="content-area">
                                                <div class="header" data-region="header"></div>
                                                <div class="content" data-region="content">

                                                </div>
                                                <div class="empty-text">Chọn thông báo trong danh sách để xem chi tiết</div>
                                                <div class="footer" data-region="footer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </section>
                            </div>
                        </div>
                        <style>
                            .notification-area {
                                height: 600px;
                                -webkit-box-sizing: border-box;
                                box-sizing: border-box;
                                border-radius: 4px;
                                margin-bottom: 30px;
                                border: 1px solid #e3e3e3
                            }

                                .notification-area .control-area {
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    width: 300px;
                                    height: 100%;
                                    overflow: auto;
                                    -webkit-overflow-scrolling: touch;
                                    border-right: 1px solid #e3e3e3
                                }

                                    .notification-area .control-area .content {
                                        position: relative
                                    }

                                        .notification-area .control-area .content .content-item-container {
                                            cursor: pointer
                                        }

                                        .notification-area .control-area .content:empty + .empty-text {
                                            display: block
                                        }

                                    .notification-area .control-area .loading-icon {
                                        display: none
                                    }

                                    .notification-area .control-area .empty-text {
                                        display: none;
                                        text-align: center;
                                        padding-top: 20px
                                    }

                                    .notification-area .control-area.loading .loading-icon {
                                        display: block;
                                        text-align: center;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        padding: 5px
                                    }

                                    .notification-area .control-area.loading .content:empty + .empty-text {
                                        display: none
                                    }

                                .notification-area .content-area {
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    width: calc(100% - 300px);
                                    float: right
                                }

                                    .notification-area .content-area .toggle-mode {
                                        display: none
                                    }

                                    .notification-area .content-area .header {
                                        height: 70px;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        border-bottom: 1px solid #e3e3e3;
                                        padding: 15px
                                    }

                                        .notification-area .content-area .header .image-container {
                                            display: inline-block;
                                            height: 25px;
                                            width: 24px;
                                            float: left
                                        }

                                        .notification-area .content-area .header .subject-container {
                                            display: inline-block;
                                            max-width: calc(100% - 24px);
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            height: 25px;
                                            padding-left: 5px;
                                            -webkit-box-sizing: border-box;
                                            box-sizing: border-box
                                        }

                                        .notification-area .content-area .header .timestamp {
                                            font-size: 10px;
                                            line-height: 10px;
                                            margin: 0;
                                            color: #666;
                                            margin-left: 30px;
                                            float: right !important;
                                            padding-top: 5px;
                                        }

                                        .notification-area .content-area .header:empty {
                                            display: none
                                        }

                                    .notification-area .content-area > .content {
                                        height: 500px;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        overflow: auto;
                                        -webkit-overflow-scrolling: touch;
                                        padding: 15px
                                    }

                                        .notification-area .content-area > .content:empty {
                                            display: none
                                        }

                                            .notification-area .content-area > .content:empty + .empty-text {
                                                display: block;
                                                text-align: center;
                                                padding-top: 100px
                                            }

                                    .notification-area .content-area .empty-text {
                                        display: none
                                    }

                                    .notification-area .content-area .footer {
                                        height: 50px;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        text-align: center
                                    }

                                        .notification-area .content-area .footer a {
                                            line-height: 50px
                                        }

                                        .notification-area .content-area .footer:empty {
                                            display: none
                                        }

                                    .notification-area .content-area .toggle-mode {
                                        display: inline-block;
                                        float: left;
                                        width: 70px;
                                        height: 50px;
                                        line-height: 50px;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        border-right: 1px solid #e3e3e3;
                                        border-bottom: 1px solid #e3e3e3
                                    }

                                    .notification-area .content-area .header {
                                        display: inline-block;
                                        width: calc(100% - 40px)
                                    }

                                .notification-area.show-content-area .control-area {
                                    left: -100%;
                                    opacity: 0;
                                    visibility: hidden;
                                    -webkit-transition: left .25s,opacity .25s,visibility .25s;
                                    -o-transition: left .25s,opacity .25s,visibility .25s;
                                    transition: left .25s,opacity .25s,visibility .25s
                                }

                                .notification-area.show-content-area .content-area {
                                    right: 0;
                                    opacity: 1;
                                    visibility: visible;
                                    -webkit-transition: right .25s;
                                    -o-transition: right .25s;
                                    transition: right .25s
                                }                           
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let myEditor;

    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            myEditor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>

<script>


    $('#icon_attach').click(function () { $('#fileInput').trigger('click'); });
             function Clear() {
              $.ajax({
                    url:'@Url.Action("ClearNotification", "Announcement")',
                    type: 'post',
                    success: function (data) {
                        if (data.success == true) {
                            Swal.fire({
                                icon: "success",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        }
                    }
                })
         }

    $(function () {
        var hub = $.connection.notificationHub;
        //Client call,
        hub.client.detail = function (message) {
           /* hub.server.getNotification();*/
            if (message.length > 0) {
                jQuery('.control-area').empty();
                for (let i = 0; i < message.length; i++) {
                    if (message[i].isRead == true) {
                        $('.control-area').append($('<a onclick="detailNotify(' + message[i].id + ')" id="' + message[i].id + '" class="dropdown-item py-3"><small class= "float-end text-muted ps-2" >' + moment(message[i].date).format("HH:mm") + '</small ><div class="media"><div class="media-body align-self-center ms-2 text-truncate"><h6 class="my-0 fw-normal text-dark" >' + message[i].title + '</h6><small class="text-muted mb-0">Người gửi: '+message[i].userSend+' </small></div></div></a>'));
                    } else {
                        $('.control-area').append($('<a onclick="detailNotify(' + message[i].id + ')" id="' + message[i].id + '" class="dropdown-item py-3"><small class= "float-end text-muted ps-2" >' + moment(message[i].date).format("HH:mm") + '</small ><div class="media"><div class="media-body align-self-center ms-2 text-truncate"><h6 class="my-0 text-dark" style="font-weight:800">' + message[i].title + '</h6><small class="text-muted mb-0">Người gửi: ' + message[i].userSend +'</small></div></div></a>'));
                    }
                }
            }
        };

         if (@id_notify != "0") {
            ////console.log(@id_notify);
            detailNotify(@id_notify);
        }
     })

    function detailNotify(id_notify) {
       $.ajax({
            url: "@Url.Action("DetailNotification", "Announcement")",
            type: 'get',
            data: { id_notify: id_notify },
            success: function (data) {
                jQuery('.content-area').empty();
                $('.content-area').append($('<div class="header" style="width: calc(100%);" data-region="header"><div style = "width: calc(100%);" ><div class="timestamp"><i onclick="DeleteNotification(' + data.notify[0].id + ')" class="fas fa-trash-alt fa-2x"></i></div><div class="timestamp">' + moment(data.notify[0].date).format("DD/MM HH:mm") + '</div><div style="font-weight: bold;">' + data.notify[0].title + '</div></div></div ><div class="content" data - region="content" > ' + data.notify[0].message + '</div> '  ));
                if (data.notify[0].file_attach != null) {
                    var filenames = data.notify[0].file_attach.split(";");
                    for (let i = 0; i < filenames.length; i++) {
                        $('.content-area').append($('<div style="margin-left: 15px;"><a href="@Url.Action("DownloadFileAttach", "Announcement")?id=' + data.notify[0].id + '&file_name=' + filenames[i] + '" style="max-width:400px" class="label label-primary">' + filenames[i] + '</a></div>'));
                    }
                }
                $('.content-area').append($(' <div class="footer" data-region="footer"><p width="600" border="0" style="padding:0 48px 48px 48px; color:#707070; font-family:Arial; font-size:12px; line-height:125%; text-align:center;">KHOA CÔNG NGHỆ THÔNG TIN - TRƯỜNG ĐẠI HỌC VĂN LANG</p></div>'));
            }
        })
    }
      function DeleteNotification(id_notify) {
        let id_delete = id_notify;
         Swal.fire({
            title: "Bạn thực sự muốn xóa thông báo này?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Xóa",
            cancelButtonText: "Hủy",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {
                  $.ajax({
                        url: '@Url.Action("DeleteNotification", "Announcement")',
                        type: 'post',
                        data: {
                            id_notify: id_delete
                        },
                        success: function (data) {
                            if (data.success == true) {
                                Swal.fire({
                                    icon: "success",
                                    title: data.message,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutUp'
                                    }
                                }).then(function (result) {
                                    location.reload();
                                    jQuery('.content-area').empty();
                                    /*if (result.value) {

                                        jQuery('.content-area').empty();
                                        $('.content-area').append($('<div class="header" data-region="header"></div><div class= "content" data - region="content" ></div ><div class="empty-text">Chọn thông báo trong danh sách để xem chi tiết</div><div class="footer" data-region="footer"></div>'));
                                    }*/
                                 })
                             } else {
                                 Swal.fire(
                                     'Thông báo',
                                     data.message
                                 );
                             }
                        }
                  })
                //Swal.fire(
                //    "Deleted!",
                //    "Your file has been deleted.",
                //    "success",
                //)
                // result.dismiss can be "cancel", "overlay",
                // "close", and "timer"
            } else if (result.dismiss === "cancel") {

            }
        });
    }

      var formdata = new FormData(); //FormData object
        $(document).ready(function () {
            $("#fileInput").on("change", function () {
                var fileInput = document.getElementById('fileInput');
                //Iterating through each files selected in fileInput
                var processBar = "";
                for (i = 0; i < fileInput.files.length; i++) {

                    var sfilename = fileInput.files[i].name + i;
                    let srandomid = Math.random().toString(36).substring(7);
                    var processID = "processID_" + i;
                    formdata.append(srandomid, fileInput.files[i])
                   /* var markup = "<tr id='" + srandomid + "'><td><label class=\"label label-primary\">File:" + sfilename + "</label><br/></td><td><a href='#' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                        "\")'><span class='glyphicon glyphicon-remove red'></span></a></td></tr>"; // Binding the file name
                    $("#FilesList tbody").append(markup);
                    "<label class=\"label label-primary\">File:" + nameFile.name + "</label><a> Xóa</a><br/><div class=\"progress\">" +
                        "<div id='" + processID + "' class=\"progress-bar progress-bar-success\" role=\"progressbar\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:0%\">" +
                        "0% Complete (success)" +
                        "</div>" +
                        "</div>";*/
                    processBar += "<div id='" + srandomid + "' ><label style=\"max-width:400px\" class=\"label label-primary\">"
                                + fileInput.files[i].name + "</label> <a href='#' onclick='DeleteFile(\"" + srandomid + "\")'><i class=\"fas fa-trash-alt\"></i></a><br/><div class=\"progress\">" +
                        "<div id='" + processID + "' class=\"progress-bar progress-bar-success\" role=\"progressbar\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:0%\">" +
                        "0% Complete (success)" +
                        "</div>" +
                        "</div></div>";
                }
                $('#fileInput').val('');
                $("#filelist").append(processBar);
            });
            $("#submit").click(function (e) {
                e.preventDefault();
                const editorData = myEditor.getData();

                var message = `${editorData.toString()}`;
                var sendtouser = $("#toUser").val();
                var title = $("#myTitle").val();


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SendNotification", "Announcement")",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        message: message,
                        userID: sendtouser,
                        title: title,
                 
                    }),
              /*      contentType: 'application/json; charset=utf-8',*/
                    success: function (data) {
                        if (data.success == true) {
                            Swal.fire({
                                icon: "success",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function () {
                                $("#toUser").val("");
                                $("#myTitle").val("");
                                editorData.setData('');
                                jQuery('#filelist').empty();
                                deleteFormData(formdata);
                            })

                        } else {
                            Swal.fire({
                                icon: "error",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function () {
                                deleteFormData(formdata);
                                jQuery('#filelist').empty();
                            })
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });

            });
           @* $("#submit").click(function () {
                formdata.append('uploadername', $('#txtuploader').val());
                $.ajax({
                    url: "@Url.Action("SendNotification", "Announcement")",
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: formdata,
                    async: false,
                    success: function (result) {
                        if (result != "") {
                            alert(result);
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            });*@
        });
        function DeleteFile(Fileid, FileName) {
            formdata.delete(Fileid)
            $("#" + Fileid).remove();
    }

    function deleteFormData(formdata) {
        const keys = [];
        for (const key of formdata.keys()) {
            keys.push(key);
        }
        for (const idx in keys) {
            formdata.delete(keys[idx]);
        }
    }
</script>

