@model AdvisorManagement.Models.AccountUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AccountUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofbirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofbirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.roleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.roleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
