@model AdvisorManagement.Models.AccountUser
@using AdvisorManagement.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    IEnumerable<Role> rolelist = ViewBag.id_Role as IEnumerable<Role>;
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="~/Validation/AccountUsers/Validation_AccountUsers.js"></script>
</head>

@using (Html.BeginForm("Edit", "AccountUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Người dùng và phân quyền - VLU</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">

                        <div class="col-12 d-flex no-block align-items-center">


                            <div class="ms-auto text-end">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Library
                                    </li>*@
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thông tin</h5>
                    <div class="container">
                        <div class="row flex-lg-nowrap">
                            <div class="col">
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="e-profile">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-auto mb-3">
                                                            <div class="mx-auto" style="width: 140px;">
                                                                <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                                    <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">

                                                                        @if (Model.img_profile != null)
                                                                        {
                                                                            <img src="@Url.Content(Model.img_profile+" ")" alt="avatar"
                                                                                 class="rounded-circle img-fluid" style="width: 150px;" id="previewImage">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="@Url.Content("~/Images/imageProfile/avata.png"+" ")" alt="avatar"
                                                                                 class="rounded-circle img-fluid" style="width: 150px;" id="previewImage">
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                            <div class="text-center text-sm-left mb-2 mb-sm-0">

                                                                <div class="mt-2">
                                                                    <input class="btn btn-outline-secondary" accept="image/*" type="file" id="ImageUpload" name="ImageUpload" onchange="ShowImageProduct(this, document.getElementById('previewImage'))" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="tab-content pt-3">
                                                        <div class="tab-pane active">
                                                            <form class="form" novalidate="">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Họ và tên</label>
                                                                                    <input class="form-control" type="text" name="user_name" placeholder="Họ và tên" value="@Model.user_name" style="width:190px">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Mã số</label>
                                                                                    <input class="form-control" type="text" name="user_code" placeholder="" value="@Model.user_code" style="width:190px"  disabled="disabled">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            @*<div class="col">
                                                                            <div class="form-group">
                                                                                <label>Ngày sinh</label>
                                                                                <input class="form-control" type="text" name="dateofbirth" placeholder="" value="@Model.dateofbirth">
                                                                            </div>
                                                                        </div>*@
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Giới tính</label>
                                                                                    <input class="form-control" type="text" name="gender" placeholder="" value="@Model.gender">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>địa chỉ</label>
                                                                                    <input class="form-control" type="text" name="address" placeholder="" value="@Model.address">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Email</label>
                                                                                    <input class="form-control" type="text" name="email" placeholder="" disabled="disabled" value="@Model.email">
                                                                                </div>
                                                                            </div>

                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Số điện thoại</label>
                                                                                    <input class="form-control" type="text" name="phone" placeholder="" value="@Model.phone">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <label>Chọn quyền:</label>
                                                                        <select name="id_role" style=" width: 155px;
                                                                height: 35px; text-align: center; font-size: 15px;" , required="true">
                                                                            
                                                                            @foreach (var item in rolelist)
                                                                            {
                                                                                if (Model.id_role == item.id)
                                                                                {
                                                                                    <option selected value="@item.id">@item.role_name</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@item.id">@item.role_name</option>
                                                                                }

                                                                            }


                                                                        </select>
                                                                        @*@Html.DropDownList("id_Role", (IEnumerable<SelectListItem>)ViewBag.id_Role, null, new { @class = "form-control", @style = " width: 255px;    height: 40px; " })*@
                                                                        <p class="text-danger">@ViewBag.ErrorMessage</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <a href="@Url.Action("Index", "AccountUsers")" class="btn btn-primary" style="margin-right : 70%;width: 100px;">
                                                                            Quay lại
                                                                        </a>
                                                                        <button class="btn btn-primary" type="submit">Lưu thông tin</button>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                 </div>
            </div>
         </div>
     </div>

 }

<script>
    $().ready(function () {
        $('#ImageUpload').on("input", function () {
            var fileInput = $(this);
            if (fileInput.length && fileInput[0].files && fileInput[0].files.length) {
                var url = window.URL || window.webkitURL;
                var image = new Image();
                image.onload = function () {

                };
                image.onerror = function () {
                    alert('Vui lòng nhập đúng file ảnh');
                    location.reload();
                };
                image.src = url.createObjectURL(fileInput[0].files[0]);
            }
        });
    });
</script>