@model IEnumerable<AdvisorManagement.Models.AccountUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="bgtitle">
    VLU - Management and Decentralization

</div>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
    </div>
</div>
<div>

    <div>
        <a href="@Url.Action("Create", "AccountUsers")" id="btnCreate" class="btn btn-success">
            Create
        </a>
        <table width="100%" class="table table-bordered table-striped table-responsive">
            <div class="card-body p-3">

            </div>
            <thead>
                <tr>
                    <th width="10%">Stt</th>
                    <th width="25%" style="text-align:center">Họ tên</th>
                    <th width="15%" style="text-align:center">Chức vụ</th>
                    <th width="15%" style="text-align:center">Ngày tham gia</th>
                    @*<th width="15%" style="text-align:center">Tình trạng</th>*@
                    <th width="20%" style="text-align:center">Hoạt động</th>

            </thead>
            <tbody id="myTable">
                </tr>
                @foreach (var item in Model)
                {
                    <tr id="myUL" style="font-weight: bold">
                        <td style="text-align: center ;">@item.user_code</td>
                        <td style="text-align:center">@item.user_name</td>
                        <td style="text-align:center">@item.Role.role_name</td>
                        <td style="text-align:center">@item.create_time</td>
                        @*<td class="project-state" style="text-align: center;">
                                <span class="badge badge-success">Đang làm</span>
                            </td>*@
                        <td style="text-align:center">
                            <a href="@Url.Action("Edit", "AccountUsers", new { id = item.id })" id="btnUpdate" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Delete", "AccountUsers", new { id = item.id })" id="btnDelete" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>







        </table>

        @*<ul class="pagination" style="margin-left: 70% ;">
                <li class="page-item"> <a class="page-link" href="#">&laquo;</a> </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item "><a class="page-link" href="#">...</span></a></li>
                <li class="page-item"><a class="page-link" href="#">50</a></li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>*@
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
