@model IEnumerable<AdvisorManagement.Models.AccountUser>

@{
    ViewBag.Title = "Quản lí người dùng";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Danh sách người dùng hệ thống</h5>
            </div>
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <a onclick="CreateTitle()" class="btn btn-info" style="margin-bottom: 5px; margin-left: 5px; width: 200px;color:white">
                        Thêm người dùng<i style="margin-left:5px" class="fas fa-plus"></i>
                    </a>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-hover table-info table-striped table-bordered" role="grid" aria-describedby="zero_config_info">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Mã số</th>
                                <th>Họ tên</th>
                                <th>Chức vụ</th>
                                <th>Số điện thoại</th>
                                <th>Ngày tham gia</th>
                                <th>Email</th>
                                <th>Hoạt động</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @if (ViewBag.menu != null)
                            {
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr id="@item.id">
                                        <td>@i</td>
                                        <td>@item.user_code</td>
                                        <td>@item.user_name</td>
                                        <td>@item.Role.role_name</td>
                                        <td>@item.phone</td>
                                        <td>@item.create_time</td>
                                        <td>@item.email</td>
                                        <td style="width:250px">
                                            <a name="detail" class="btn btn-success"
                                               style="margin-bottom: 5px; margin-left: 5px; color: white">
                                                Chi tiết <i class="fas fa-tasks"></i>
                                            </a>
                                            <a name="update" id="update" class="btn btn-info" style="margin-bottom: 5px; margin-left: 5px;">
                                                Sửa <i class="fas fa-edit"></i>
                                            </a>
                                            <a name="delete" id="btnDelete" class="btn btn-danger"
                                               style="margin-bottom: 5px; margin-left: 5px;">
                                                Xoá <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalCreate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm người dùng</h4>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Email văn lang:</span></div>
                    <div class="col-md-8">
                        <input id="txtEmail" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Họ và tên :</span></div>
                    <div class="col-md-8">
                        <input id="txtName" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Số điện thoại :</span></div>
                    <div class="col-md-8">
                        <input id="txtPhone" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Địa chỉ :</span></div>
                    <div class="col-md-8">
                        <input id="textAddress" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btnCreate" class="btn btn-success" type="submit">Thêm</button>
            </div>
        </div>
    </div>
</div>
<div id="modalUpdate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chỉnh sửa cố vấn </h4>
            </div>
            <input hidden id="id_edit" value="" />
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Email văn lang:</span></div>
                    <div class="col-md-8">
                        <input id="txtEmailEdit" type="text" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Họ và tên giảng viên:</span></div>
                    <div class="col-md-8">
                        <input id="txtNameEdit" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Số điện thoại giảng viên:</span></div>
                    <div class="col-md-8">
                        <input id="txtPhoneEdit" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Địa chỉ giảng viên:</span></div>
                    <div class="col-md-8">
                        <input id="textAddressEdit" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button onclick="HideModalUp()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btnEdit" class="btn btn-primary" type="submit">Sửa</button>
            </div>

        </div>
    </div>
</div>
<div id="modalDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chi tiết cố vấn học tập</h4>
            </div>
            <input hidden id="id_detailUser" value="" />
            <div class="mx-auto " style="width: 150px;">
                <div class="my-2 d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                    <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">
                        <img src="" id="detail_img" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                    </span>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="col-md-4"><span>Mã cố vấn:</span></div>
                    <div class="col-md-11">
                        <input id="detail_code" type="text" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="col-md-4"><span>Họ và tên:</span></div>
                    <div class="col-md-11">
                        <input id="detail_name" type="text" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="col-md-4"><span>Địa chỉ:</span></div>
                    <div class="col-md-11">
                        <input id="detail_street" type="text" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="col-md-4"><span>Email Văn Lang:</span></div>
                    <div class="col-md-11">
                        <input id="detail_mail" type="text" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="col-md-4"><span>Số điện thoại:</span></div>
                    <div class="col-md-11">
                        <input id="detail_phone" type="text" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button onclick="HideModalDtail()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
@* CRUD *@
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("semester");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    $("#zero_config").DataTable();
    // get thong tin nguoi dung
    $(document).on('click', "a[name=detail]", function () {
         let host = window.location.origin;
         let id_iddetail = $(this).closest('tr').attr('id');

         $.ajax({
             url:'@Url.Action("Details", "AccountUsers")' ,
             type: 'get',
             data: {
                 id: id_iddetail
             },
             success: function (data) {
                 if (data.success == true) {
                     $('#detail_code').val(data.detail_code);
                     $('#detail_name').val(data.detail_name);
                     $('#detail_street').val(data.detail_street);
                     $('#detail_mail').val(data.detail_mail);
                     $('#detail_phone').val(data.detail_phone);
                     $('#detail_img').attr('src',`${host}${data.detail_img}`);
                     $('#id_detailUser').val(data.id_detailUser);
                     $('#modalDetail').modal("show");
                 } else {
                     Swal.fire(
                         'Thông báo',
                         data.message
                     );
                 }
             }

         })
     })
    function HideModalDtail() {
        $("#modalDetail").modal("hide");
    }
    // Thoong tin tao tai khoan
    function CreateTitle() {
        $("#modalCreate").modal("show");
    }
    function HideModal() {
        $("#modalCreate").modal("hide");
    }
    $(document).ready(function () {
        $('#btnCreate').click(function () {
            let formData = new FormData();
            let jsonData = {
                email    : $("#txtEmail").val(),
                user_name: $("#txtName").val(),
                phone    : $("#txtPhone").val(),
                address  : $("#txtAddress").val()
            };
            for (const [key, value] of Object.entries(jsonData)) {
                formData.append(key, value);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateApi", "AccountUsers")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success == false) {
                        Swal.fire({
                            icon: 'error',
                            title: data.message,
                        })
                    } else {
                        $("#modalCreate").modal("hide");
                        Swal.fire({
                            icon: "success",
                            title: 'Menu đã thêm thành công',
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        })
                    }
                }
             })
        })
     })
    // xoá thông tin người dùng
    $(document).on('click', "a[name=delete]", function () {
        let id_std = $(this).closest('tr').attr('id');
        console.log(id_std);
        Swal.fire({
            title: "Bạn thực sự muốn xóa cố vấn này?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Xóa",
            cancelButtonText: "Hủy",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {
                 $.ajax({
                        url: '@Url.Action("DeleteApi", "AccountUsers")',
                        type: 'POST',
                        data: {
                            id: id_std
                        },
                        success: function (data) {
                            if (data.success == true) {
                                Swal.fire({
                                    icon: "success",
                                    title: 'Cố vấn học tập đã xóa thành công',
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutUp'
                                    }
                                }).then(function (result) {
                                    if (result.value) {
                                        location.reload();
                                    }
                                 })
                             } else {
                                 Swal.fire(
                                     'Thông báo',
                                     data.message
                                 );
                             }
                        }
                  })
                //Swal.fire(
                //    "Deleted!",
                //    "Your file has been deleted.",
                //    "success",
                //)
                // result.dismiss can be "cancel", "overlay",
                // "close", and "timer"
            } else if (result.dismiss === "cancel") {

            }
        });
    })
    // cập nhật thông tin người dùng
    $(document).on('click', "a[name=update]", function () {
        let id_title = $(this).closest('tr').attr('id');
        $.ajax({
            url:'@Url.Action("Details", "AccountUsers")' ,
            type: 'get',
            data: {
                id: id_title
            },
            success: function (data) {
                if (data.success == true) {
                    console.log(data);
                    $('#modalUpdate').modal("show");
                    $('#id_edit').val(id_title);
                    $("#txtEmailEdit").val(data.detail_mail);
                    $("#txtNameEdit").val(data.detail_name);
                    $("#txtPhoneEdit").val(data.detail_phone);
                    $("#textAddressEdit").val(data.detail_street);
                } else {
                    alert(data.message);
                }
            }

        })
    })
    $(document).ready(function () {     //Cập nhật thông tin người dùng
        $('#btnEdit').click(function () {
            let formDataEdt = new FormData();
            let jsonDataEdt = {
                id: $("#id_edit").val(),
                email: $("#txtEmailEdit").val(),
                user_name: $("#txtNameEdit").val(),
                phone: $("#txtPhoneEdit").val(),
                address: $("#txtAddressEdit").val()
            };
            for (const [key, value] of Object.entries(jsonDataEdt)) {
                formDataEdt.append(key, value);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditApi", "AccountUsers")',
                contentType: false,
                processData: false,
                data: formDataEdt,
                success: function (data) {
                        if (data.success == true) {
                            $('#modalUpdate').modal('hide');
                            Swal.fire({
                                icon: "success",
                                title: 'Menu đã cập nhập thành công',
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Menu đã thêm thành công',
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        }
                 }
            })

        })
    })
    function HideModalUp() {
        $("#modalUpdate").modal("hide");
    }
</script>
