@model IEnumerable<AdvisorManagement.Models.AccountUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">Người dùng và phân quyền - VLU</h5>
            </div>
            <div class="page-breadcrumb">
                <div class="row">

                    <div class="col-12 d-flex no-block align-items-center">
                        <a href="@Url.Action("Create", "AccountUsers")" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                            Thêm<i class="fas fa-plus"></i>
                        </a>

                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Library
                                        </li>*@
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="card">
            <div class="card-body">
                @*<div class="searchbar">
                    <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Tìm kiếm từ khoá..."
                </div>*@
                <h5 class="card-title"></h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered" role="grid" aria-describedby="zero_config_info">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Mã số</th>
                                <th>Họ tên</th>
                                <th>Chức vụ</th>
                                <th>Ngày tham gia</th>
                                <th>Email</th>
                                <th>Hoạt động</th>


                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @if (ViewBag.menu != null)
                            {
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.user_code</td>
                                        <td>@item.user_name</td>
                                        <td>@item.Role.role_name</td>
                                        <td>@item.create_time</td>
                                        <td>@item.email</td>
                                        <td>
                                            <a href="@Url.Action("Details", "AccountUsers", new { id = item.id })" id="btnDelete" class="btn btn-success"
                                               style="margin-bottom: 5px; margin-left: 5px;">
                                                Chi tiết <i class="fas fa-tasks"></i>
                                            </a>
                                            <a href="@Url.Action("Edit", "AccountUsers", new { id = item.id })" id="btnUpdate" class="btn btn-info" style="margin-bottom: 5px; margin-left: 5px;">
                                                Sửa <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("Delete", "AccountUsers", new { id = item.id })" id="btnDelete" class="btn btn-danger"
                                               style="margin-bottom: 5px; margin-left: 5px;">
                                                XÓA <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
    <div>*@

<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>


    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("semester");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    $("#zero_config").DataTable();
    //$('#zero_config').twbsPagination({
    //    totalPages: 35,
    //    visiblePages: 7,
    //    onPageClick: function (event, page) {
    //        $('#page-content').text('Page ' + page);
    //    }
    //});
    //$('#zero_config').pagination({
    //    dataSource: 'https://api.flickr.com/services/feeds/photos_public.gne?tags=cat&tagmode=any&format=json&jsoncallback=?',
    //    locator: 'items',
    //    totalNumberLocator: function (response) {
    //        // you can return totalNumber by analyzing response content
    //        return Math.floor(Math.random() * (1000 - 100)) + 100;
    //    },
    //    pageSize: 20,
    //    ajax: {
    //        beforeSend: function () {
    //            dataContainer.html('Loading data from flickr.com ...');
    //        }
    //    },
    //    callback: function (data, pagination) {
    //        // template method of yourself
    //        var html = template(data);
    //        dataContainer.html(html);
    //    }
    //});

</script>
