﻿
@{
    ViewBag.Title = "Chi tiết lớp học";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    int i = 1;
    List<AdvisorManagement.Models.ViewModel.ListStudent> listStudent = (List<AdvisorManagement.Models.ViewModel.ListStudent>)ViewBag.detailClass;
    List<AdvisorManagement.Models.StudentStatus> listStatus = (List<AdvisorManagement.Models.StudentStatus>)ViewBag.listStdStatus;

}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                @if (ViewBag.classInfo != null)
                {
                    List<AdvisorManagement.Models.ViewModel.AdvisorClass> classInfo = (List<AdvisorManagement.Models.ViewModel.AdvisorClass>)ViewBag.classInfo;
                    foreach (var item in classInfo)
                    {
                        var lastYear = int.Parse(item.semester) - 1;
                        <div class="card-body">
                            <h5 class="card-title mb-0">VLU | @lastYear - @item.semester</h5>
                        </div>
                        <form action="" method="post">
                            <div class="input-box">
                                <label for="ngaysinh" style="margin-left: 10px;">Tên lớp:<input style="margin-left: 2px; width: 250px;" disabled tyle="text" value="@item.idClass"></label>
                                <label for="ngaysinh" style="margin-left: 10px;">Giáo viên:<input style="margin-left: 28px; width: 250px;" disabled tyle="text" value="@item.name"></label><br>
                                <label for="ngaysinh" style="margin-left: 10px;">Email:<input style="margin-left: 15px; width: 250px;" disabled tyle="text" value="@item.email"></label>
                                <label for="ngaysinh" style="margin-left: 10px;">Số điện thoại:<input style="margin-left: 4px; width: 250px;" disabled tyle="text" value="@item.phone"></label><br>
                            </div>
                        </form>
                        if (ViewBag.role == "Advisor" || ViewBag.role == "Admin")
                        {
                            if (ViewBag.yearClass == ViewBag.yearNow)
                            {
                                <div class="page-breadcrumb">
                                    <div class="row">
                                        <div class="col-12 d-flex no-block align-items-center">
                                            <a onclick="AddStudent()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px; color:white">
                                                Thêm<i style="margin-left:5px" class="fas fa-plus"></i>
                                            </a>
                                            <a onclick="ImportExcelFile()" id="btnUpdate" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px; color: white">
                                                Nhập danh sách<i style="margin-left:5px" class="fas fa-plus"></i>
                                            </a>
                                            <a href="@Url.Action("ExcelExport", "Students")" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px; color: white">
                                                Xuất danh sách<i style="margin-left:5px" class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="page-breadcrumb">
                                    <div class="row">
                                        <div class="col-12 d-flex no-block align-items-center">
                                            <a href="@Url.Action("ExcelExport", "Students")" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px; color: white">
                                                Xuất danh sách<i style="margin-left:5px" class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    @*<div class="searchbar">
            <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon">
                <i class="fas fa-search"></i>
            </a>
        </div>*@
                    <div class="table-responsive">
                        @if (ViewBag.detailClass != null)
                        {

                            <table id="zero_config" class="table table-light table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th width="5%">STT</th>
                                        <th width="5%">MSSV</th>
                                        <th width="5%">Họ và tên</th>
                                        <th width="5%">Email</th>
                                        <th>SDT</th>
                                        <th>Địa chỉ</th>
                                        <th>Giới tính</th>
                                        <th>Trạng thái</th>
                                        @if (ViewBag.role == "Advisor" || ViewBag.role == "Admin")
                                        {
                                            if (ViewBag.yearClass == ViewBag.yearNow)
                                            {
                                                <th width="20%" style="text-align:center">Hoạt động</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (var item in listStudent)
                                    {
                                        <tr id="@item.id">
                                            <td>@i</td>
                                            <td>@item.idStudent</td>
                                            <td>@item.name</td>
                                            <td>@item.email</td>
                                            <td>@item.phone</td>
                                            <td>@item.address</td>
                                            <td>@item.gender</td>
                                            <td>@item.status</td>
                                            @if (ViewBag.role == "Advisor" || ViewBag.role == "Admin")
                                            {
                                                if (ViewBag.yearClass == ViewBag.yearNow)
                                                {
                                                    <td style="text-align:center">
                                                        <a onclick="Update(@item.idAcc)" id="btnUpdate" class="btn btn-primary">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <button name="delete" class="btn btn-danger">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                }
                                            }
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Bạn đang không thực hiện cố vấn lớp nào</p>
                        }
                    </div>
                    <a href="javascript:history.back()" class="btn btn-primary" style="margin-right : 70%;width: 100px;">
                        Quay lại
                    </a>
                    @*@if (ViewBag.role == "Admin")
        {
            @Html.ActionLink("Back to List", "Index", "ClassManagements" , new {area = "Admin"}, null)
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nhập danh sách sinh viên</h4>
            </div>
            @if (ViewBag.classInfo != null)
            {
                List<AdvisorManagement.Models.ViewModel.AdvisorClass> idClass = (List<AdvisorManagement.Models.ViewModel.AdvisorClass>)ViewBag.classInfo;
                foreach (var item in idClass)
                {
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                            <div class="col-md-10">
                                <span>File mẫu:</span>
                                <a href="@Url.Action("Download", "Students")">Danhsachsinhvien.xlsx</a>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                            <div class="col-md-4"><span>Chọn file:</span></div>
                            <div class="col-md-8">
                                @Html.Raw(ViewBag.Error)
                                <input name="postedFile" type="file" id="fileExcel" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button id="btnUpload" class="btn btn-primary" type="submit">Import</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div id="modalUpdate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật sinh viên</h4>
            </div>
            <input hidden id="id_std" value="" />
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="col-md-4"><span>MSSV:</span></div>
                    <div class="col-md-8">
                        <input id="up_mssv" type="text" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Email:</span></div>
                    <div class="col-md-8">
                        <input id="up_email" type="text" class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Họ và tên:</span></div>
                    <div class="col-md-8">
                        <input id="up_name" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Số điện thoại:</span></div>
                    <div class="col-md-8">
                        <input id="up_phone" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Địa chỉ:</span></div>
                    <div class="col-md-8">
                        <input id="up_address" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Giới tính:</span></div>
                    <div class="col-md-8">
                        <select id="up_gender" name="up_gender" style="width: 155px; height: 35px; text-align: center; font-size: 15px;">
                            <option selected value="TRUE">Nam</option>
                            <option selected value="FALSE">Nữ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Trạng thái:</span></div>
                    <div class="col-md-8">
                        <select id="up_status" name="up_status" style="width: 155px; height: 35px; text-align: center; font-size: 15px;">
                            @foreach (var item in listStatus)
                            {
                                <option selected value="@item.id">@item.status_name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button onclick="HideModalUp()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btnEdit" class="btn btn-primary" type="submit">Cập nhật</button>
            </div>

        </div>
    </div>
</div>

<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm sinh viên</h4>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                    <div class="col-md-4"><span>MSSV:</span></div>
                    <div class="col-md-8">
                        <input id="add_mssv" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Email:</span></div>
                    <div class="col-md-8">
                        <input id="add_email" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Họ và tên:</span></div>
                    <div class="col-md-8">
                        <input id="add_name" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Số điện thoại:</span></div>
                    <div class="col-md-8">
                        <input id="add_phone" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Địa chỉ:</span></div>
                    <div class="col-md-8">
                        <input id="add_address" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Giới tính:</span></div>
                    <div class="col-md-8">
                        <select id="add_gender" name="add_gender" style="width: 155px; height: 35px; text-align: center; font-size: 15px;">
                            <option selected value="TRUE">Nam</option>
                            <option selected value="FALSE">Nữ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                    <div class="col-md-4"><span>Trạng thái:</span></div>
                    <div class="col-md-8">
                        <select id="add_status" name="add_status" style="width: 155px; height: 35px; text-align: center; font-size: 15px;">
                            @foreach (var item in listStatus)
                            {
                                <option selected value="@item.id">@item.status_name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button onclick="HideModalAdd()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button id="btnAdd" class="btn btn-primary" type="submit">Thêm</button>
            </div>

        </div>
    </div>
</div>

<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script>

    $("#zero_config").DataTable({
        'bAutoWidth': false,
     /*   'responsive': false,  */
        'language': {
            "decimal": "",
            "emptyTable": "Không có dữ liệu",
            "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
            "infoEmpty": "Showing 0 to 0 of 0 entries",
            "infoFiltered": "(filtered from _MAX_ total entries)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Hiển thị _MENU_ mục",
            "loadingRecords": "Đang tải...",
            "search": "Tìm kiếm:",
            "zeroRecords": "No matching records found",
            "paginate": {
                "first": "First",
                "last": "Last",
                "next": "Sau",
                "previous": "Trước"
            },
        },
        });
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("semester");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function AddStudent() {
        $("#modalAdd").modal("show");
    }

    function ImportExcelFile() {
        $("#myModal").modal("show");
    }

    function HideModal() {
        $("#myModal").modal("hide");
    }

    function HideModalAdd() {
        $("#modalAdd").modal("hide");
    }

    $(document).ready(function () {
        $('#btnUpload').click(function () {
            var formData = new FormData();
            var fileExcel = document.getElementById("fileExcel");
            var myFile = fileExcel.files[0];
            formData.append("postedfile", myFile);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ImportStudent", "Students")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success == false) {
                        Swal.fire({
                            icon: 'error',
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        })
                    } else {
                        $("#myModal").modal("hide");
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        })
                    }
                }
             })
        })
    })

    //Sự kiện xóa
    $(document).on('click', "button[name=delete]", function () {
        let id_std = $(this).closest('tr').attr('id');
         Swal.fire({
            title: "Bạn thực sự muốn xóa sinh viên này?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Xóa",
            cancelButtonText: "Hủy",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                url: '@Url.Action("Delete", "Students")',
                type: 'POST',
                data: {
                    id: id_std
                },
                success: function (data) {
                    if (data.success == true) {
                        $('#modalUpdate').modal('hide');
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                            }
                        })

                    }
                }
            })
            } else if (result.dismiss === "cancel") {

            }
        });
    })

    function HideModalUp() {
        $("#modalUpdate").modal("hide");

    }

     //Lấy thông tin người dùng để cập nhật
         function Update(id) {
              $.ajax({
                    url:'@Url.Action("UpdateStudent", "Students")',
                    type: 'get',
                    data: {
                        id: id
                    },
                  success: function (data) {
                        if (data.success == true) {
                            $('#up_mssv').val(data.mssv);
                            $('#up_email').val(data.email);
                            $('#up_name').val(data.name);
                            $('#up_phone').val(data.phone);
                            $('#up_address').val(data.address);
                            $('select[name="up_gender"]').val(data.gender).prop('selected', true);
                            $('select[name="up_status"]').val(data.status).prop('selected', true);
                            $('#up_status').val(data.status).prop('selected', true);
                            $('#id_std').val(data.id_std);
                            $('#modalUpdate').modal("show");
                        } else {
                            alert(data.message);
                        }
                    }
                })
         }

    //Cập nhật thông tin sinh viên
    $(document).ready(function () {
        $('#btnEdit').click(function () {
            var name = $('#up_name').val();
            var phone = $('#up_phone').val();
            var address = $('#up_address').val();
            var gender = $('select[name="up_gender"]').val();
            var status = $('select[name="up_status"]').val();
            var id = $('#id_std').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateStudent", "Students")',
                    data: {
                        id: id,
                        name: name,
                        phone: phone,
                        status: status,
                        address: address,
                        gender: gender
                    },
                    success: function (data) {
                        if (data.success == true) {
                            $('#modalUpdate').modal('hide');
                            Swal.fire({
                                icon: "success",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                }
                            })

                        }
                     }
                })
        })
    })

     $(document).ready(function () {
         $('#btnAdd').click(function () {
            var mssv = $('#add_mssv').val();
            var email = $('#add_email').val();
            var name = $('#add_name').val();
             var phone = $('#add_phone').val();
             var address = $('#add_address').val();
             var gender = $('select[name="add_gender"]').val();
            var status = $('select[name="add_status"]').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddStudent", "Students")',
                    data: {
                        mssv: mssv,
                        email: email,
                        name: name,
                        phone: phone,
                        status: status,
                        address: address,
                        gender: gender
                    },
                    success: function (data) {
                        if (data.success == true) {
                            $('#modalAdd').modal('hide');
                            Swal.fire({
                                icon: "success",
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: data.message,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                }
                            }).then(function (result) {
                                if (result.value) {
                                }
                            })

                        }
                     }
                })
        })
    })

</script>