@using AdvisorManagement.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    var yearNow = (int)Session["yearNow"];
    var yearLast = yearNow - 1;
    List<VLClass> listYearAdvisor = (List<VLClass>)ViewBag.listYearAdvisor;
}


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
       

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Danh sách lớp cố vấn</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <div class="">
                        <label for="cars">Năm học:</label>
                        <select id="year" name="year" onchange="filterFunction()">
                            <option selected value="@yearNow">@yearLast - @yearNow</option>
                            @foreach (var item in listYearAdvisor)
                            {
                                var i = int.Parse(item.semester_name) - 1;
                                <option value="@item.semester_name">@i - @item.semester_name</option>
                            }
                        </select>
                    </div>
                    <div class="table-responsive">
                        <table width="100%" id="zero_config_advisor" class="table table-striped table-bordered" role="grid" aria-describedby="zero_config_info">
                            <thead>
                                <tr>
                                    <th width="10%" style="text-align:center">STT</th>
                                    <th width="25%" style="text-align:center">Mã lớp học</th>
                                    <th width="15%" style="text-align:center">Người cố vấn</th>
                                    <th width="15%" style="text-align:center">Khóa</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script>

         var dataTable = $("#zero_config_advisor").DataTable({
         'ajax': {
                'url': '@Url.Action("GetDataAdvisor", "Students")',
                'data': function (d) {
                 /*var input = document.getElementById("semester");
                 filter = input.value.toUpperCase();*/
                 d.year = @yearNow ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'ID', 'width': '5%', },
                 {
                     'data': 'idClass', 'width': '25%', 'render': function (data, type, row) {
                             return '<a id="proof" href="@Url.Action("DetailClass", "Students")/' + row.ID + '/" >' + data + '</a>';
                     }
                 },
                 { 'data': 'name', 'width': '25%' },
                 { 'data': 'course', 'width': '30%' },
                 ],
             'bAutoWidth': false,
             'responsive': false,
             "order": [[0, "asc"]],
             'ordering': false,
             'rowsGroup': [0, 1],
             'language': {
                 "decimal": "",
                 "emptyTable": "Bạn đang không thực hiện cố vấn lớp học nào",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
                 "infoFiltered": "(Lọc  từ _MAX_ mục)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "Không tìm thấy dữ liệu",

                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             }
         });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();



       function filterFunction() {
            $("#zero_config_advisor").dataTable().fnDestroy();
             var dataTable = $("#zero_config_advisor").DataTable({
         'ajax': {
                'url': '@Url.Action("GetDataAdvisor", "Students")',
                'data': function (d) {
                  var input = document.getElementById("year");
                         filter = input.value.toUpperCase();
                            d.year = filter ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'ID', 'width': '5%', },
                 {
                     'data': 'idClass', 'width': '25%', 'render': function (data, type, row) {
                             return '<a id="proof" href="@Url.Action("DetailClass", "Students")/' + row.ID + '/" >' + data + '</a>';
                     }
                 },
                 { 'data': 'name', 'width': '25%' },
                 { 'data': 'course', 'width': '30%' },
                 ],
             'bAutoWidth': false,
             'responsive': false,
             "order": [[0, "asc"]],
             'ordering': false,
             'rowsGroup': [0, 1],
             'language': {
                 "decimal": "",
                 "emptyTable": "Bạn đang không thực hiện cố vấn lớp học nào",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "",
                 "infoFiltered": "(filtered from _MAX_ total entries)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "No matching records found",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             }
         });
            dataTable.on('order.dt search.dt', function () {
                let i = 1;
                dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        }

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
