@using AdvisorManagement.Models;

@{
    ViewBag.Title = "Báo cáo học kì";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    var id_class = (int)Session["id_class"];
    IEnumerable<Semester> listSemester = ViewBag.hocky as IEnumerable<Semester>;
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Báo cáo cuối học kì</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row ">
                        <div class="col-4 d-flex no-block align-items-center  my-2">
                            <a onclick="ExportTemplate()" class="btn btn-success" style=" margin-left: 5px; width: 150px; color: white">
                                Xuất báo cáo <i class="fas fa-plus"></i>
                            </a>
                            <a onclick="ReadEvol()" class="btn btn-danger" style=" margin-left: 5px; width: 150px; color: white">
                                Danh mục đánh giá
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title mx-4">
                        @foreach (var item in (IEnumerable<AdvisorManagement.Models.EvaluationAdvisor>)ViewData["Evol"])
                        {
                            <div>
                                Số mục hoàn thành hiện tại: @ViewBag.CountE
                            </div>
                            <div>
                                Xếp loại: @item.rank_type (@item.rank_des)
                            </div>
                            <div>
                                Mô tả: @item.description
                            </div>
                            if (int.Parse(Session["RoleName"].ToString()) != 1)
                            {
                                <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                                    <div class="col-md-4"><span>Giảng viên tự đánh giá:</span></div>
                                    <div class="col-md-4">
                                        <input id="txtDanhGia" type="text" class="form-control" maxlength="1" />
                                    </div>
                                </div>
                            }
                        }


                    </h5>
                    <div style="margin-top:10px">

                    </div>

                    <div class="table-responsive" style="margin-top:10px">
                        <table width="100%" id="zero_config_admin" class="table table-striped table-bordered" role="grid" aria-describedby="zero_config_info">
                            <thead>
                                <tr>
                                    <th style="text-align:center">STT</th>
                                    <th style="text-align:center">Mô tả công việc cụ thể</th>
                                    <th style="text-align:center">Tài nguyên chuẩn bị yêu cầu</th>
                                    <th style="text-align:center">Hồ sơ, minh chứng</th>
                                    <th style="text-align:center">Tiêu chí đánh giá</th>
                                    <th style="text-align:center">Trang thái</th>
                                    <th style="text-align:center">Nộp minh chứng</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                            </tbody>
                        </table>
                        <a href="javascript:history.back()" class="btn btn-primary" style="margin-right : 70%;width: 100px;">
                            Quay lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalEvol" class="modal fade" role="document">
        <div class="modal-dialog" style="max-width: 60%;" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                @*                <span class="close" style="color: #aaaaaa; float: right; font-size: 28px; font-weight: bold">&times;</span>*@
                <div class="modal-header">


                    <input hidden id="id_evol" value="" />
                    <h4 class="modal-title">Tiêu chí đánh giá</h4>
                </div>
                <div class="table-responsive" style="margin-top:10px">
                    <table width="100%" id="zero_config_evol" class="table table-striped table-bordered" role="grid" aria-describedby="zero_config_info">
                        <thead>
                            <tr>
                                <th style="text-align:center">STT</th>
                                <th style="text-align:center">Loai</th>
                                <th style="text-align:center">Mô tả</th>
                                <th style="text-align:center">Đánh giá</th>
                                <th style="text-align:center">Khoảng bắt đầu</th>
                                <th style="text-align:center">Khoảng kết thúc</th>


                            </tr>
                        </thead>
                        <tbody id="myTable">
                        </tbody>
                    </table>
                </div>
                <div id="showEvol" class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload file minh chứng</h4>
                </div>
                <input hidden id="idProof"/>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px;padding-left:15px ">
                        <div class="col-md-4"><span>Mô tả:</span></div>
                        <div class="col-md-8">
                            <input id="motaPlan" type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px;padding-left:15px ">
                    <div class="col-md-4"><span>Chọn file:</span></div>
                    <div class="col-md-8">
                        <input name="" type="file" id="fileExcel" class="" />
                    </div>
                </div>
                <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px;padding-left:15px ">
                    <div class="col-md-4"><span>Chọn học kỳ:</span></div>
                    <div class="col-md-8">
                        <select id="semester" style=" width: 155px; height: 35px; text-align: center; font-size: 15px;" , required="true">

                            @foreach (var item in listSemester)
                            {
                                <option value="@item.semester_name">@item.semester_name</option>

                            }
                        </select>
                        @* @Html.DropDownList("id_semester", null, htmlAttributes: new { @id = "" })*@
                    </div>

                </div>

                <div class="modal-footer">
                    <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnUpload" class="btn btn-primary" type="submit">Upload</button>
                </div>

            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.js"></script>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
<script>

     //Lấy data khi vừa vào web admin
    var dataTable = $("#zero_config_admin").DataTable({
         'ajax': {
                'url': '@Url.Action("GetReportClass", "EReportTerm")',
                'data': function (d) {
                     d.id_class = @id_class ;
                 },
                'type': 'get',
                'datatype':'json',
         },
         'columns':
             [
                 { 'data': 'number_title', 'width': '0%' },
                 { 'data': 'describe', 'width': '25%' },
                 { 'data': 'source', 'width': '25%' },
                 { 'data': 'group_file', 'width': '20%' },
                 { 'data': 'note', 'width': '10%' },
                 { 'data': 'status', 'width': '10%' },
                 {
                     'data': 'id', 'width': '30%', 'render': function (data) {
                         return '<button onclick="Upload('+data+')" class="btn btn-info">Thêm minh chứng <i class="fas fa-tasks" ></i></button >'
                     }
                 },
                 ],
             'bAutoWidth': false,
             'responsive': false,
             'ordering': false,
             'rowsGroup': [0,2],
             'language': {
                 "decimal": "",
                 "emptyTable": "Không có dữ liệu",
                 "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                 "infoEmpty": "Showing 0 to 0 of 0 entries",
                 "infoFiltered": "(filtered from _MAX_ total entries)",
                 "infoPostFix": "",
                 "thousands": ",",
                 "lengthMenu": "Hiển thị _MENU_ mục",
                 "loadingRecords": "Đang tải...",
                 "search": "Tìm kiếm:",
                 "zeroRecords": "No matching records found",
                 "paginate": {
                     "first": "First",
                     "last": "Last",
                     "next": "Sau",
                     "previous": "Trước"
                 },
             },

             });
            function ExportTemplate() {
                input = document.getElementById("semester");
                let check = document.getElementById("txtDanhGia") ? document.getElementById("txtDanhGia").value : null ;
                let id = 2023;
            $.ajax({
                url: '@Url.Action("ExportTemplateCode", "EReportTerm")',
                type: 'POST',
                data: {
                    year: id,
                    id_class: @id_class,
                    phanLoai : check

                },
                /*contentType: "application/json; charset=utf-8", */
                success: function (data) {
                    var bytes = new Uint8Array(data.FileContents);
                    var blob = new Blob([bytes], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.href = downloadUrl;
                    a.download = data.FileDownloadName;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
                error: function (err) {
                    alert(err);
                },
            })
        }
    function ReadEvol() {
        jQuery('#showEvol').empty();
        $("#zero_config_evol").dataTable().fnDestroy();
        dataTable = $("#zero_config_evol").DataTable({
         'ajax': {
                'url': '@Url.Action("GetEvolTable", "EReportTerm")',
                'type': 'get',
                'datatype': 'json',
         },
         'columns':
             [
                 { 'data': 'id', 'width': '5%', },
                 { 'data': 'rank_type', 'width': '10%'},
                 { 'data': 'description', 'width': '40%' },
                 { 'data': 'rank_des', 'width': '40%' },
                 { 'data': 'rank_count', 'width': '10%' },
                 { 'data': 'rank_end', 'width': '10%' },
          

                ],
            'language': {
                "decimal": "",
                "emptyTable": "Không có dữ liệu",
                "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                "infoEmpty": "Showing 0 to 0 of 0 entries",
                "infoFiltered": "(filtered from _MAX_ total entries)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Hiển thị _MENU_ mục",
                "loadingRecords": "Đang tải...",
                "search": "Tìm kiếm:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Sau",
                    "previous": "Trước"
                },
            },
            "autoWidth": false,
            "aLengthMenu": [[-1], ["All"]],
            "bLengthChange": false,
            "bPaginate": false,
            "bInfo": false,
       });
        dataTable.on('order.dt search.dt', function () {
               let i = 1;
               dataTable.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                   this.data(i++);
               });
        }).draw();
        $('#showEvol').append(`
                    <button onclick="hideRead()" type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>`);
        $("#modalEvol").modal('show');
    }

    function hideRead() {
        $("#modalEvol").modal('hide');
    }

    function Upload(id) {
        $("#idProof").val(id);
        $("#myModal").modal("show");
    }

    function HideModal() {
        $("#myModal").modal("hide");
    }

    $(document).ready(function () {
        $('#btnUpload').click(function () {
            var formData = new FormData();
            var fileExcel = document.getElementById("fileExcel");
            var myFile = fileExcel.files[0];
            var mota = $("#motaPlan").val();
            var sel_semester = document.getElementById("semester");
            var semester = sel_semester.value;
            let id = $("#idProof").val();
            formData.append("id", id);
            formData.append("postedfile", myFile);
            formData.append("mota", mota);
            formData.append("semester", semester);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Upload", "EReportTerm", new {area = ""})',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success == false) {
                        alert(data.message);
                    } else {
                        $("#myModal").modal("hide");
                        $("#motaPlan").val("");
                        $("#fileExcel").val("");
                        alert(data.message);
                        dataTable.ajax.reload(null, false);
                    }
                }
             })
        })
    })
   //Sự kiện xóa
         function Delete(id) {
             if (confirm("Bạn thực sự muốn xóa minh chứng này?")) {
                $.ajax({
                    url: '@Url.Action("DeleteProof", "PlansAdvisor")',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function (data) {
                         if (data.success == true) {
                             alert(data.message);
                             dataTable.ajax.reload(null, false);
                         } else {
                             alert(data.message);
                         }
                    }
                })
            }
         }

</script>
