
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/Assets/images/Logo2022.png" type="image/x-icon" />
    @*<meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />*@
    @*<meta name="description"
        content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework" />*@
    <meta name="robots" content="noindex,nofollow" />
    <title>@ViewBag.Title</title>
    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/Assets/images/Logo-Dai-Hoc-Van-Lang-H.png" />
    <!-- Custom CSS -->
    <link href="~/Assets/libs/fullcalendar/dist/fullcalendar.min.css"
          rel="stylesheet" />
    <link href="~/Assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Dist/css/admin.css" />
    <link href="~/Dist/css/style.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/extra-libs/ImageUpload/showImage.js"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="@Url.Action("Index", "Home",new {area = ""})">
                        <!-- Logo icon -->
                        <b class="logo-icon ps-2">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Assets/images/Logo2022.png"
                                 alt="homepage"
                                 class="light-logo"
                                 width="40"
                                 style="margin-left: -7px; margin-top: 10px" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text ms-2">
                            <!-- dark Logo text -->
                            <img src="~/Assets/images/logon.png"
                                 alt="homepage"
                                 class="light-logo"
                                 width="98"
                                 style="margin-top: 10px" />
                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <!-- <img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none"
                       href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse"
                     id="navbarSupportedContent"
                     data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light"
                               href="javascript:void(0)"
                               data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li>
                    </ul>
                    @*@if (Request.IsAuthenticated)
                        {
                            <ul class="dropdown-menu stylecolor">
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.Name + "!", "UserProfile", "Home", new { id = "", email = User.Identity.Name }, null)
                                </li>
                                <li>
                                    <a href=@Url.Action("SignOut", "Account",new {area = ""})> Đăng xuất</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                @Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </ul>
                        }*@
                <ul class="navbar-nav float-end">
                    <li class="nav-item dropdown notification-list" id="dropdown-noti">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell align-self-center topbar-icon">
                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                            </svg>
                            <span class="badge bg-danger rounded-pill noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-376px, 54px); width: 400px; max-height: 400px" data-popper-placement="bottom-end">
                            <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                                Thông báo <span class="badge bg-primary rounded-pill"></span>
                            </h6>
                            <div class="notification-menu" data-simplebar="init">
                                <div class="simplebar-wrapper" style="margin: 0px;">
                                    <div class="simplebar-height-auto-observer-wrapper">
                                        <div class="simplebar-height-auto-observer"></div>
                                    </div>
                                    <div class="simplebar-mask">
                                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                            <div class="simplebar-content-wrapper" style="height: auto;">
                                                <div id="notiContent" class="simplebar-content" style="padding: 0px; max-height: 300px; overflow-y: auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- All-->
                            <a href="@Url.Action("AllNotification", "Announcement",new {area = ""})" id="viewAll" class="dropdown-item text-center text-primary">
                                View all <i class="fi-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    @*<li class="nav-item dropdown" id="noti-content">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="mdi mdi-bell font-24"></i>
                <span class="count"></span>
            </a>
            <ul id="notiContent" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li style="background: #b3d0b6;" class="dropdown-item">Action</li>
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </li>*@
                    <li class="nav-item dropdown">
                        @if (Session["RoleName"].ToString() == null)
                        {

                        }
                        else if (int.Parse(Session["RoleName"].ToString()) == 1 || int.Parse(Session["RoleName"].ToString()) == 2)
                        {
                            <a style="color:white">  Giáo viên: @Session["Name"] </a>
                        }
                        else if (int.Parse(Session["RoleName"].ToString()) == 3)
                        {
                            <a style="color:white">  Sinh viên: @Session["Name"] </a>
                        }

                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            @if (Request.IsAuthenticated)
                            {<img src="~/Images/imageProfile/@ViewBag.avatar"
                                  alt="user"
                                  class="rounded-circle"
                                  width="31" />
                            }
                            else
                            {
                                <img src="~/Assets/images/users/1.jpg"
                                     alt="user"
                                     class="rounded-circle"
                                     width="31" />
                            }
                        </a>
                        @*<ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                @if (Request.IsAuthenticated)
                {
                    <a class="dropdown-item" href="@Url.Action("UserProfile", "Home", new { id = "", email = User.Identity.Name ,area = ""})">
                        <i class="mdi mdi-account me-1 ms-1"></i>
                        Tài Khoản
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("SignOut", "Account",new {area = ""})"><i class="fa fa-power-off me-1 ms-1"></i> Đăng Xuất</a>
                    <div class="dropdown-divider"></div>
                }
                else
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Login", "Account",new {area = ""})"><i class="fa fa-power-off me-1 ms-1"></i> Đăng Nhập</a>

                }
            </ul>*@
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->

                </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        @if (ViewBag.menu != null)
                        {
                            List<AdvisorManagement.Models.ViewModel.MenuItem> listProduct = (List<AdvisorManagement.Models.ViewModel.MenuItem>)ViewBag.menu;
                            foreach (var item in listProduct)
                            {
                                switch (item.menuName)
                                {
                                    case "Trang chủ":
                                        // Flag
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-home"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName</span>
                                            </a>
                                        </li>
                                        break;
                                    case "Thông báo":
                                        // flag
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="far fa-bell"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName</span>
                                            </a>
                                        </li>
                                        break;
                                    case "Phân công lớp":
                                        // Flag
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-list-alt"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName</span>
                                            </a>
                                        </li>
                                        break;
                                    case "Thông tin lớp":
                                        // Flag
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-address-book"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName</span>
                                            </a>
                                        </li>
                                        break;
                                    case "Tư vấn và trao đổi":
                                        // flag
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="far fa-comment"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName</span>
                                            </a>
                                        </li>
                                        break;
                                    case "kế hoạch công tác CVHT":
                                        //flag
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-calendar-alt"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName </span>
                                            </a>
                                        </li>
                                        break;
                                    case "Người dùng":
                                        // Flag
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-user"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName</span>
                                            </a>
                                        </li>
                                        break;

                                    case "Thống kê":
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-chart-bar"></i><span class="hide-menu" style="margin-left: 3px">@item.menuName</span>
                                            </a>
                                        </li>
                                        break;
                                    case "Báo cáo cuối học kì":
                                        @*  <ul aria-expanded="false" class="collapse first-level">*@
                                        <li class="sidebar-item">
                                            <a href="~/@item.actionLink/Index" class="sidebar-link">
                                                <i class="mdi mdi-calendar-check"></i><span class="hide-menu"> @item.menuName </span>
                                            </a>
                                        </li>
                                        @* </ul>*@
                                        break;
                                    case "Xử lí học tập":
                                        @*<li class="sidebar-item">
                                            <ul aria-expanded="false" class="collapse second-level">*@
                                        <li class="sidebar-item">
                                            <a href="~/@item.actionLink/Index" class="sidebar-link">
                                                <i class="mdi mdi-calendar-check"></i><span class="hide-menu"> @item.menuName </span>
                                            </a>
                                        </li>
                                        @*</ul>
                                            </li>*@
                                        break;
                                    case "Cài đặt":
                                        @* <ul aria-expanded="false" class="collapse first-level">*@
                                        <li class="sidebar-item">
                                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-cog"></i><span class="hide-menu" style="margin-left: 3px">
                                                    @item.menuName
                                                </span>
                                            </a>
                                        </li>
                                        @*</ul>*@

                                        break;
                                    case "Phân quyền":
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="mdi mdi-emoticon"></i><span class="hide-menu"> @item.menuName </span>
                                            </a>
                                        </li>
                                        break;
                                    case "Menu":
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                               href="~/@item.actionLink/Index"
                                               aria-expanded="false">
                                                <i class="fas fa-tasks"></i><span class="hide-menu" style="margin-left: 3px">
                                                    @item.menuName
                                                </span>
                                            </a>
                                        </li>

                                        break;
                                }
                            }
                        }
                        @* Merge *@
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("UserProfile", "Home", new { id = "", email = User.Identity.Name ,area = ""})" aria-expanded="false">
                                <i class="mdi mdi-account me-1 ms-1"></i><span class="hide-menu" style="margin-left: 3px">
                                    Tài Khoản
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("SignOut", "Account",new {area = ""})">
                                <i class="fas fa-sign-out-alt"></i><span class="hide-menu" style="margin-left: 3px">
                                    Đăng xuất
                                </span>
                            </a>

                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            @*<div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Dashboard</h4>
                            <div class="ms-auto text-end">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">

                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    @RenderBody()
                </div>

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by K25 CAPTEAM09. Designed and Developed by
                <a href="#">CAPTEAM 09</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="~/Dist/js/jquery.ui.touch-punch-improved.js"></script>
    <script src="~/Dist/js/jquery-ui.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Dist/js/custom.min.js"></script>

    <script src="~/Assets/libs/moment/min/moment.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Dist/js/pages/calendar/cal-init.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <style type="text/css">
    </style>   
    @* Add jquery code for Get Notification & setup signalr *@
<script type="text/javascript">
    $(function () {
        //Get số thông báo mới, số thông báo chưa xem
        function setTotalNotification(totalNotif) {
            if (totalNotif > 0) {
                $('span.badge.bg-primary.rounded-pill').html(totalNotif);
                $('span.badge.bg-danger.rounded-pill.noti-icon-badge').html(totalNotif);
            } else {
                $('span.badge.bg-primary.rounded-pill').html("");
                $('span.badge.bg-danger.rounded-pill.noti-icon-badge').html("");
            }
        }

        var hub = $.connection.notificationHub;

        //Client call
        hub.client.broadcaastNotif = function (totalNotif) {
            setTotalNotification(totalNotif)
        };

        //Client call,
        hub.client.notify = function (message) {
            jQuery('#notiContent').empty();
            if (message.length > 0) {
                //Nếu dropdown đang được bât, cật nhật số lượng, danh sách thông báo đến
                if ($('#notiContent').css('display') == 'block') {
                    hub.client.broadcaastNotif = function (totalNotif) {
                        $('span.badge.bg-primary.rounded-pill').html(totalNotif);
                        $('span.badge.bg-danger.rounded-pill.noti-icon-badge').html(totalNotif);
                    };
                }
                for (let i = 0; i < message.length; i++) {
                    if (message[i].isRead == true) {
                        $('#notiContent').append($('<a onclick="updateNotification(' + message[i].id + ')" class="dropdown-item py-3"><small class= "float-end text-muted ps-2" >' + moment(message[i].date).format("HH:mm")+ '</small ><div class="media"><div class="media-body align-self-center ms-2 text-truncate"><h6 class="my-0 fw-normal text-dark" >' + message[i].title + '</h6><small class="text-muted mb-0">' + message[i].message + '</small></div></div></a>'));
                    } else {
                        $('#notiContent').append($('<a onclick="updateNotification(' + message[i].id + ')" class="dropdown-item py-3"><small class= "float-end text-muted ps-2" >' + moment(message[i].date).format("HH:mm") + '</small ><div class="media"><div class="media-body align-self-center ms-2 text-truncate"><h6 class="my-0 text-dark" style="font-weight:800">' + message[i].title + '</h6><small class="text-muted mb-0">' + message[i].message + '</small></div></div></a>'));
                    }
                }
            } else {
                $('#notiContent').append($('<a href="#" class="dropdown-item py-3" style="text-align: center;"><div class= "media" ><div class="media-body align-self-center ms-2 text-truncate"><text class="my-0 text-dark" >Bạn đang không có thông báo nào</text></div></div></a>'));
            }
        };

        //Kết nói hub, thực hiện lấy danh sách thông báo
        $.connection.hub.start()
            .done(function () {
                console.log("Hub Connected!");
                //Server Call
                hub.server.getNotification();

            })
            .fail(function () {
                console.log("Could not Connect!");
            });

        //Click chuông, Khi dropdown thông báo hiển thị, lấy danh sách thông báo, cập nhật trạng thái thông báo thành đã xem
        $('#dropdown-noti').on('shown.bs.dropdown', function () {
            hub.server.getNotification();
        });

        /*//Click chuông, Khi dropdown thông báo ẩn đi, cập nhật số thông báo
        $('#dropdown-noti').on('hide.bs.dropdown', function () {
            $('span.count').html("");
            updateNotification();
        });*/

        // update notification, cập nhật trạng thái thông báo thành đã xem        
    })

    function updateNotification(id_notify) {       
        $.ajax({
            url: '/Announcement/UpdateNotification',
            type: 'post',
            data: { id_notify: id_notify },
            success: function (response) {                          
                window.location.href = response.redirectToUrl;
            }
        })
    }
</script>

</body>
</html>
