@model AdvisorManagement.Models.RoleMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";

}

<h2>Details</h2>

<div>
    <h4>RoleMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu.menu_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.menu_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.role_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
