

@{
    ViewBag.Title = "RoleMenu";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";

}



<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Quản lí Menu</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">

                        <div class="col-12 d-flex no-block align-items-center">
                            <a href="@Url.Action("Create", "RoleMenus",new {area = "Admin"})" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                Thêm Menu<i style="margin-left:5px" class="fas fa-plus"></i>
                            </a>

                            <a href="@Url.Action("SortMenu", "RoleMenus",new {area = "Admin"})" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                Sắp xếp menu<i style="margin-left:5px" class="fas fa-plus"></i>
                            </a>

                                    @*<div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Library
                            </li>
                        </ol>
                    </nav>
                </div>*@
                        </div>
                    </div>

                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="col-md-1">
                 
                    </div>
                    @*<div class="searchbar">
                        <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Tìm kiếm từ khoá..."
                    </div>*@
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Role
                                    </th>
                                    <th>
                                        Menu
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @if (ViewBag.roleMenu != null)
                                {
                                    List<AdvisorManagement.Models.ViewModel.MenuRole> listRoleMenu = (List<AdvisorManagement.Models.ViewModel.MenuRole>)ViewBag.roleMenu;
                                    foreach (var item in listRoleMenu)
                                    {
                                        <tr>
                                            <td>
                                                @item.roleName
                                            </td>
                                            <td>
                                                @item.menuName
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "RoleMenus", new { id = item.id })" id="btnDelete" class="btn btn-success"
                                                   style="margin-bottom: 5px; margin-left: 5px;">
                                                    Chi tiết <i class="fas fa-tasks"></i>
                                                </a>
                                                <a href="@Url.Action("Edit", "RoleMenus", new { id = item.id })" id="btnUpdate" class="btn btn-info" style="margin-bottom: 5px; margin-left: 5px;">
                                                    Sửa <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="@Url.Action("Delete", "RoleMenus", new { id = item.id })" id="btnDelete" class="btn btn-danger"
                                                   style="margin-bottom: 5px; margin-left: 5px;">
                                                    XÓA <i class="fas fa-trash-alt"></i>
                                                </a>
                                               
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->

    <script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>


        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("semester");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $("#zero_config").DataTable();
    </script>