
@using AdvisorManagement.Models;
@{
    ViewBag.Title = "Quản lí danh mục";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
    IEnumerable<Role> rolelist = ViewBag.id_role as IEnumerable<Role>;
    IEnumerable<Menu> menulist = ViewBag.id_menu as IEnumerable<Menu>;
}



<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
      

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Quản lí danh mục</h4>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center mb-2">
                            <a onclick="CreateTitle()" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;color:white">
                                Thêm danh mục<i style="margin-left:5px" class="fas fa-plus"></i>
                            </a>

                            <a href="@Url.Action("SortMenu", "RoleMenus",new {area = "Admin"})" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 200px; color: white">
                                Sắp xếp danh mục<i style="margin-left:5px" class="fas fa-bars"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="col-md-1">

                    </div>
                    @*<div class="searchbar">
                <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Tìm kiếm từ khoá..."
            </div>*@
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-hover table-light table-bordered">
                            <thead>
                                <tr class="table-active text-uppercase">
                                    <th>
                                        <b>   Quyền </b>
                                    </th>
                                    <th>
                                        <b>  Danh mục</b>
                                    </th>
                                    <th>
                                        <b>  Hành động</b>
                                    </th>
                                    </trclass="table-active>
                            </thead>
                            <tbody id="myTable">
                                @if (ViewBag.roleMenu != null)
                                {
                                    List<AdvisorManagement.Models.ViewModel.MenuRole> listRoleMenu = (List<AdvisorManagement.Models.ViewModel.MenuRole>)ViewBag.roleMenu;
                                    foreach (var item in listRoleMenu)
                                    {
                                        <tr id="@item.id">
                                            <td>
                                                <b> @item.roleName </b>
                                            </td>
                                            <td>
                                                @item.menuName
                                            </td>
                                            <td>
                                                <a name="detail" class="btn btn-success"
                                                   style="margin-bottom: 5px; margin-left: 5px; color: white">
                                                    Chi tiết <i class="fas fa-tasks"></i>
                                                </a>
                                                <a name="update" id="update" class="btn btn-info" style="margin-bottom: 5px; margin-left: 5px;">
                                                    Sửa <i class="fas fa-edit"></i>
                                                </a>
                                                <a name="delete" id="btnDelete" class="btn btn-danger"
                                                   style="margin-bottom: 5px; margin-left: 5px;">
                                                    Xoá <i class="fas fa-trash-alt"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm danh mục</h4>
                </div>
            
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-4"><span>Vai trò</span></div>
                        <div class="col-md-8">
                            @if (ViewBag.error != null)
                            {
                                var Error = (string)ViewBag.error;

                                @Html.Raw(Error)
                            }
                            <select id="id_role" name="id_role" style=" width: 155px;
                                                                height: 35px; text-align: center; font-size: 15px;">

                                @foreach (var item in rolelist)
                                {

                                    <option value="@item.id">@item.role_name_vn</option>


                                }


                            </select>

                        </div>
                    </div>
            
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-6"><span>Tên danh mục có trong hệ thống</span></div>
                        <div class="col-md-8">
                            <select id="id_menu" name="id_menu" style=" width: 155px;
                                                                height: 35px; text-align: center; font-size: 15px;">

                                @foreach (var item in menulist)
                                {

                                    <option value="@item.id">@item.menu_name</option>


                                }


                            </select>
                        </div>
                
                </div>
                @* <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>HK1:</span></div>
                            <div class="col-md-8">
                                <input id="txtHk1" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>HK2:</span></div>
                            <div class="col-md-8">
                                <input id="txtHk2" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                            <div class="col-md-4"><span>HK3:</span></div>
                            <div class="col-md-8">
                                <input id="txtHk3" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>*@
                <div class="modal-footer">
                    <button onclick="HideModal()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnUpload" class="btn btn-primary" type="submit">Thêm</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalUpdate" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chỉnh sửa danh mục vào phân quyền</h4>
                </div>
                <input hidden id="id_rolemenu" value="" />
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-6"><span>Vai trò:</span></div>
                        <div class="col-md-8">
                            <select id="edit_id_role" name="edit_id_role" style=" width: 155px;
                                                                height: 35px; text-align: center; font-size: 15px;">

                                @foreach (var item in rolelist)
                                {


                                    <option value="@item.id">@item.role_name_vn</option>



                                }


                            </select>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Tên menu có trong danh mục:</span></div>
                        <div class="col-md-8">
                            <select id="edit_id_menu" name="edit_id_menu" style=" width: 155px;
                                                                    height: 35px; text-align: center; font-size: 15px;">

                                @foreach (var item in menulist)
                                {

                                    <option value="@item.id">@item.menu_name</option>


                                }


                            </select>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="HideModalUp()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnEdit" class="btn btn-primary" type="submit">Sửa</button>
                </div>

            </div>
        </div>
    </div>
    <div id="modalDetail" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xem danh mục phân quyền</h4>
                </div>
                <input hidden id="id_detailrolemenu" value="" />
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px;padding-top: 12px; padding-left:15px">
                        <div class="col-md-4"><span>Vai trò:</span></div>
                        <div class="col-md-8">
                            <input id="detail_role" type="text" class="form-control" disabled="disabled" />

                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12" style="padding-bottom: 12px; padding-top: 12px; padding-left: 15px">
                        <div class="col-md-4"><span>Tên menu có trong hệ thống:</span></div>
                        <div class="col-md-8">
                            <input id="detail_menu" type="text" class="form-control" disabled="disabled" />

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="HideModalDtail()" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>
<script>


        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("semester");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    $("#zero_config").DataTable({
        'language': {
            "decimal": "",
            "emptyTable": "Không có dữ liệu",
            "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
            "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
            "infoFiltered": "(Được lọc  từ _MAX_ mục)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Hiển thị _MENU_ mục",
            "loadingRecords": "Đang tải...",
            "search": "Tìm kiếm:",
            "zeroRecords": "Không tìm thấy dữ liệu",
            "paginate": {
                "first": "First",
                "last": "Last",
                "next": "Sau",
                "previous": "Trước"
            }
        },
    });
         function CreateTitle() {
            $("#modalCreate").modal("show");
        }

        function CopyTemplate() {
            $("#modalCopy").modal("show");
        }

        function HideModal() {
            $("#modalCreate").modal("hide");
        }
        function HideModalDtail() {
            $("#modalDetail").modal("hide");
        }
         //Lấy thông tin người dùng để cập nhật
        $(document).on('click', "a[name=update]", function () {
            let id_title = $(this).closest('tr').attr('id');
            $.ajax({
                url:'@Url.Action("Update", "RoleMenus")' ,
                type: 'get',
                data: {
                    id: id_title
                },
                success: function (data) {
                    if (data.success == true) {

                        $('#modalUpdate').modal("show");
                        /*$("#id_menu" + find + " option[value='" + data.R.id_menu + "']").attr('selected', 'selected');*/
                        /*('#id_menu').find("option:selected").val(data.R.id_menu)*/
/*                        $('select[name="id_menu"]').val(data.R_id_menu);*/
                        $('select[name="edit_id_menu"]').val(data.R_id_menu).prop('selected', true);
                        $('select[name="edit_id_role"]').val(data.R_id_role);


                        $('#id_rolemenu').val(data.R_id);
                        /*$('#modalUpdate').modal("show");*/
                    } else {
                        alert(data.message);
                    }
                }

            })
        })

    $(document).ready(function () {     //Cập nhật thông tin người dùng
        $('#btnEdit').click(function () {
            var id_role = $("#edit_id_role").val();
            var id_menu = $("#edit_id_menu").val();
            var id = $('#id_rolemenu').val();
            //$(document).ready(function () {

            //    let id_menu =$('select[name="id_menu"]').val();
            //    let id_role = $('select[name="id_role"]').val();

            //});
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateRolMenu", "RoleMenus")',
                    data: {
                        id: id,
                        id_menu: id_menu,
                        id_role: id_role,
                    },
                    success: function (data) {
                            if (data.success == true) {
                                $('#modalUpdate').modal('hide');
                                Swal.fire({
                                    icon: "success",
                                    title: data.message,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutUp'
                                    }
                                }).then(function (result) {
                                    if (result.value) {
                                        location.reload();
                                    }
                                })
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.message,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutUp'
                                    }
                                }).then(function (result) {
                                    if (result.value) {
                                        location.reload();
                                    }
                                })
                            }
                     }
                })

        })
    })

        function HideModalUp() {
            $("#modalUpdate").modal("hide");
        }

        function HideModalCopy() {
            $("#modalCopy").modal("hide");
        }
    //  thên menu
         $(document).ready(function () {
        $('#btnUpload').click(function () {
            var formData = new FormData();
            var idrole = $("#id_role").val();
            var idmenu = $("#id_menu").val();

            formData.append("id_role", idrole);
            formData.append("id_menu", idmenu);
           /* formData.append("HK1", HK1);
            formData.append("HK2", HK2);
            formData.append("HK3", HK3);*/
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "RoleMenus")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success == false) {
                        Swal.fire({
                            icon: "error",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function () {
                            //deleteFormData(formdata);
                            //jQuery('#filelist').empty();


                        })
                    } else {
                        $("#modalCreate").modal("hide");
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        })
                    }
                }
             })
        })
         })
    //xem chi tiet
    $(document).on('click', "a[name=detail]", function () {
            let id_iddetail = $(this).closest('tr').attr('id');
            $.ajax({
                url:'@Url.Action("Details", "RoleMenus")' ,
                type: 'get',
                data: {
                    id: id_iddetail
                },
                success: function (data) {
                    if (data.success == true) {
                        $('#detail_menu').val(data.R_id_menu);
                        $('#detail_role').val(data.R_id_role);
                        $('#id_detailrolemenu').val(data.R_id);
                        $('#modalDetail').modal("show");
                    } else {
                        Swal.fire(
                            'Thông báo',
                            data.message
                        );
                    }
                }

            })
        })

         //Sự kiện xóa
    $(document).on('click', "a[name=delete]", function () {
        let id_std = $(this).closest('tr').attr('id');
        Swal.fire({
            title: "Bạn thực sự muốn xóa menu này?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Xóa",
            cancelButtonText: "Hủy",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {
                 $.ajax({
                        url: '@Url.Action("Delete", "RoleMenus")',
                        type: 'POST',
                        data: {
                            id: id_std
                        },
                        success: function (data) {
                            if (data.success == true) {
                                Swal.fire({
                                    icon: "success",
                                    title: data.message,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutUp'
                                    }
                                }).then(function (result) {
                                    if (result.value) {
                                        location.reload();
                                    }               
                                 })
                            
                             
                             } else {
                                Swal.fire({
                                    icon: "error",
                                    title: data.message,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutUp'
                                    }
                                }).then(function () {
                                    //deleteFormData(formdata);
                                    //jQuery('#filelist').empty();


                                })
                             }
                        }
                  })
                //Swal.fire(
                //    "Deleted!",
                //    "Your file has been deleted.",
                //    "success",
                //)
                // result.dismiss can be "cancel", "overlay",
                // "close", and "timer"
            } else if (result.dismiss === "cancel") {

            }
        });
        @*if (confirm("Bạn thực sự muốn xóa menu này?")) {
            $.ajax({
                url: '@Url.Action("Delete", "RoleMenus")',
                type: 'POST',
                data: {
                    id: id_std
                },
                success: function (data) {
                     if (data.success == true) {
                         swalWithBootstrapButtons.fire(
                             'Thông báo',
                             'Your file has been deleted.',
                             'success'
                         )
                         location.reload();
                     } else {
                         Swal.fire(
                             'Thông báo',
                             data.message
                         );
                     }
                }
            })
        }*@
        })
</script>
