
@{
    ViewBag.Title = "Sắp xếp Menu";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";

}
<script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
<style>
    #sortMenu tr:hover {
        background-color: #0094ff;
        color: #fff;
    }
</style>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Sắp xếp menu</h5>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <a href="@Url.Action("Create", "RoleMenus",new {area = "Admin"})" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                Thêm Menu<i class="fas fa-plus"></i>
                            </a>

                            <a href="@Url.Action("SortMenu", "RoleMenus",new {area = "Admin"})" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;">
                                Sắp xếp menu<i class="fas fa-plus"></i>
                            </a>

                            @*<div class="ms-auto text-end">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                Library
                                            </li>
                                        </ol>
                                    </nav>
                                </div>*@
                        </div>
                    </div>

                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="col-md-1">
                        <label for="cars">Chọn học kỳ:</label>

                        <select id="semester" name="semester" onchange="myFunction()">
                            <option selected value="0">All</option>
                            @*@foreach (var item in hocky)
                                {
                                    <option value="@item.semester_name - @item.scholastic">@item.semester_name - @item.scholastic</option>
                                }*@


                        </select>
                    </div>
                    <div class="searchbar">
                        <input id="myInput" onkeyup="myFunction()" class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon">
                            <i class="fas fa-search"></i>
                        </a>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            @if (ViewBag.Menu != null)
                            {
                                List<AdvisorManagement.Models.ViewModel.MenuItem> listMenu = (List<AdvisorManagement.Models.ViewModel.MenuItem>)ViewBag.ListMenu;
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên danh mục</th>
                                    </tr>
                                </thead>
                                <tbody id="sortMenu" style="cursor:pointer;">
                                    @foreach (var item in listMenu)
                                    {
                                        <tr>
                                            <td>
                                                @item.orderID
                                            </td>
                                            <td class="taskSingleInline" id="task@(item.ID)" data-taskid="@(item.ID)">
                                                @item.menuName
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <a class="btn btn-primary" href="@Url.Action("SortMenu","RoleMenus")">Reload</a>
                    @Html.ActionLink("Back to List", "Index")

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->


    <script>
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("semester");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sortMenu tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


        $(document).ready(function () {
            $("#sortMenu").sortable({
            update: function (even, ui) {
                var itemIDs = "";
                $("#sortMenu").find(".taskSingleInline").each(function () {
                    var itemID = $(this).attr("data-taskid");
                    itemIDs = itemIDs + itemID + ",";
                });
                $.ajax({
                    url: '@Url.Action("UpdateMenu","RoleMenus")',
                    data: { itemIDs: itemIDs },
                    type: 'POST',
                    success: function (data) {
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
        });
    });
    </script>

