@{
    ViewBag.Title = "Sắp xếp danh mục";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";

}
<script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
<style>
    #sortMenu tr:hover {
        background-color: #0094ff;
        color: #fff;
    }
</style>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Sắp xếp danh mục</h4>
                </div>
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                

                            <a href="@Url.Action("SortMenu", "RoleMenus",new {area = "Admin"})" class="btn btn-success" style="margin-bottom: 5px; margin-left: 5px; width: 150px;color:white">
                                Sắp xếp  <i class=" mx-2 fas fa-sort"></i>
                            </a>

                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>


                    <div class="table-responsive">
                        <table id="zero_config" class="table   table-bordered">
                            @if (ViewBag.Menu != null)
                            {
                                List<AdvisorManagement.Models.ViewModel.MenuItem> listMenu = (List<AdvisorManagement.Models.ViewModel.MenuItem>)ViewBag.ListMenu;
                                <thead class="">
                                    <tr class=" text-uppercase">
                                        <th><b>STT</b> </th>
                                        <th><b>Tên danh mục</b> </th>
                                    </tr>
                                </thead>
                                <tbody id="sortMenu" style="cursor:pointer;">
                                    @foreach (var item in listMenu)
                                    {
                                        <tr>
                                            <td>
                                                @item.orderID
                                            </td>
                                            <td class="taskSingleInline" id="task@(item.ID)" data-taskid="@(item.ID)">
                                                @item.menuName
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <a class="btn btn-primary" href="@Url.Action("SortMenu","RoleMenus")">Load lại dữ liệu menu</a>
                    <a href="@Url.Action("Index", "RoleMenus")" class="btn btn-primary" style="margin-right : 70%;width: 100px;">
                        Quay lại
                    </a>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
    <script src="~/Assets/extra-libs/DataTables/datatables.min.js"></script>

    <script>
        $("#zero_config").DataTable({
            'language': {
                "decimal": "",
                "emptyTable": "Không có dữ liệu",
                "info": "Hiển thị từ _START_ đến _END_ trong _TOTAL_ mục",
                "infoEmpty": "Hiển thị 0 từ 0 đến 0 mục",
                "infoFiltered": "(Lọc  từ _MAX_ mục)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Hiển thị _MENU_ mục",
                "loadingRecords": "Đang tải...",
                "search": "Tìm kiếm:",
                "zeroRecords": "Không tìm thấy dữ liệu",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Sau",
                    "previous": "Trước"
                },

            },
            "iDisplayLength": 15

        });
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("semester");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sortMenu tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


        $(document).ready(function () {
            $("#sortMenu").sortable({
            update: function (even, ui) {
                var itemIDs = "";
                $("#sortMenu").find(".taskSingleInline").each(function () {
                    var itemID = $(this).attr("data-taskid");
                    itemIDs = itemIDs + itemID + ",";
                });
                $.ajax({
                    url: '@Url.Action("UpdateMenu","RoleMenus")',
                    data: { itemIDs: itemIDs },
                    type: 'POST',
                    success: function (data) {
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
        });
    });
    </script>
