@model AdvisorManagement.Models.AccountUser
@{
    ViewBag.Title = "EditUserProfile";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";
}

<div class="bgtitle">
    VLU - Profile
</div>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="~/Validation/UserProfile/Validation_UserProfile.js"></script>

</head>
@using (Html.BeginForm("EditUserProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page-breadcrumb">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">Thông tin cá nhân - VLU</h5>
            </div>
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Thông tin cá nhân
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal">
                        <div class="card-body">
                            <h4 class="card-title">Thông tin</h4>
                            <div class="form-group row">
                                <div class="card-body text-center">
                                    @if (Model.img_profile != null)
                                    {
                                        <img src="@Url.Content(Model.img_profile+" ")" alt="avatar"
                                             class="rounded-circle img-fluid" style="width: 150px;" id="previewImage">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Images/imageProfile/avata.png"+" ")" alt="avatar" id="previewImage"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                    }

                                    <h5 class="my-3">@Model.user_name</h5>
                                    <p class="text-muted mb-1">@Model.user_code</p>

                                    <!-- <div class="d-flex justify-content-center mb-2">
                                      <button type="button" class="btn btn-primary">Message</button>

                                    </div> -->
                                    <input class="btn btn-primary" id="ImageUpload" accept="image/*" type="file" name="ImageUpload" onchange="ShowImageProduct(this, document.getElementById('previewImage'))" />
                                </div>
                                <label for="fname" class="col-sm-3 text-end control-label col-form-label">MSSV:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="user_code" name="user_code" placeholder="197PM29124" value="@Model.user_code" disabled="disabled" />
                                    <p id="valid_code" style="color:red"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lname" class="col-sm-3 text-end control-label col-form-label">Họ tên:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Trần Thanh Hoài" value="@Model.user_name" />
                                    <p id="valid_name" style="color:red"></p>
                                </div>
                            </div>
                            <!-- <div class="form-group row" style="margin-left: 20%;">
                              <label for="lname" class="col-sm-3 text-end control-label col-form-label">Gender:
                                <select class="col-sm-9" name="option">
                                  <option value="" disabled selected>Choose your gender</option>
                                  <option value="1">Nam</option>
                                  <option value="2">Nữ</option>

                                </select>
                              </label>
                            </div> -->
                            <div class="form-group row">
                                <label for="email1" class="col-sm-3 text-end control-label col-form-label">SDT</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="mail" value="@Model.email" disabled="disabled" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email1" class="col-sm-3 text-end control-label col-form-label">SDT</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="0906172097" value="@Model.phone" />
                                    <p id="valid_phone" style="color:red"></p>
                                    <p id="valid2_phone" style="color:red"></p>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Tình trạng</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="cono1" placeholder="Đang dạy" />
                                    </div>
                                </div>*@
                            <!-- <div class="form-group row">
                            <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Message</label>
                            <div class="col-sm-9">
                              <textarea class="form-control"></textarea>
                            </div> -->





                            <div class="border-top">

                                <div class="border-top">
                                    <div class="card-body">

                                        <button id="submitbtn" type="submit" class="btn btn-success text-white" style="margin-left: 30%;width: 100px;">
                                            Lưu
                                        </button>
                                        <a href="@Url.Action("Index","Home")" class="btn btn-danger text-white" style="margin-left: 30%;width: 100px;">
                                            Hủy
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>

        </div>
        <!-- editor -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>

}

<script>
    $().ready(function () {
        $('#ImageUpload').on("input", function () {
            var fileInput = $(this);
            if (fileInput.length && fileInput[0].files && fileInput[0].files.length) {
                var url = window.URL || window.webkitURL;
                var image = new Image();
                image.onload = function () {

                };
                image.onerror = function () {
                    alert('Vui lòng nhập đúng file ảnh');
                    location.reload();
                };
                image.src = url.createObjectURL(fileInput[0].files[0]);
            }
        });
    });
</script>
