@model AdvisorManagement.Models.AccountUser
@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";


}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Cập nhật thông tin người dùng</h4>
                        <div class="form-group row">
                            <div class=" text-left col-7">
                                <div class="row">
                                    <div class="col-4 text-center pt-5 ml-5 mt-5">

                                        <img src="@Url.Content("~/"+Model.img_profile+" ")" alt="avatar" id="previewImage"
                                             class=" img-fluid mt-5" style="width: 180px;">

                                        <h5 class=""> @Model.user_name</h5>



                                    </div>
                                    <div class="col-6 my-5">
                                        <form>
                                            <input hidden id="id_edit" value="@Model.id" />

                                            <div class="mb-3">
                                                <label for="user_code" class="form-label">Mã cá nhân</label>
                                                <input type="text" class="form-control" id="user_code" value="@Model.user_code" disabled="disabled">
                                            </div>
                                            <div class="mb-3">
                                                <label for="user_name" class="form-label">Tên cá nhân</label>
                                                <input type="text" class="form-control" id="user_name" value="@Model.user_name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" value="@Model.email" disabled="disabled">
                                            </div>
                                            <div class="mb-3">
                                                <label for="phone" class="form-label">Số điện thoại</label>
                                                <input type="text" class="form-control" id="phone" value="@Model.phone">
                                            </div>
                                            <div class="mb-3">
                                                <label for="txtImage" class="form-label">Hình ảnh</label>
                                                <input  class="form-control" accept="image/*" type="file" placeholder="Vui lòng chọn ảnh" id="txtImage" name="ImageUpload" onchange="ShowImageProduct(this, document.getElementById('previewImage'))" />

                                            </div>


                                            <div class="mb-3">

                                                <button class="btn btn-primary form-control" id="updateInfo">Cập nhật thông tin cá nhân</button>

                                            </div>
                                        </form>
                                       
                                    </div>
                                </div>
                    

                            </div>
                            <div class="col-1"></div>
                            <div class="col-4 text-right ml-5">

                                <img src="~/Images/tester.png"  alt="profile"
                                     class=" img-responsive mt-5 img-fit-cover img-fluid" style="">
                            </div>

                      
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
    <!-- editor -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<script>
        $(document).ready(function () {
            $('#updateInfo').click(function () {
            // validate file
            var fileInput = $('#txtImage');
            if (fileInput.val().length > 1) {
                var file = fileInput[0].files[0];
                // get data
                if (!file.type.startsWith('image/')) {
                    alert('Vui lòng chọn hình ảnh.');
                    return;
                }
                if (file.size > 5 * 1024 * 1024) {
                    alert('Vui lòng chọn file ảnh dưới 5 MB.');
                    return;
                }
            }
            let formData = new FormData();
            let jsonData = {
                id: $("#id_edit").val(),
                email: $("#email").val(),
                user_name: $("#user_name").val(),
                phone: $("#phone").val(),
                ImageUpload: file
            };

            for (const [key, value] of Object.entries(jsonData)) {
                formData.append(key, value);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditUserApi", "AccountUsers")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data.success == false) {
                        Swal.fire({
                            icon: 'error',
                            title: data.message,
                        })
                    } else {
                        $("#modalCreate").modal("hide");
                        Swal.fire({
                            icon: "success",
                            title: data.message,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        })
                    }
                }
             })
        })
     })
</script>