@model AdvisorManagement.Models.AccountUser
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layoutvlu.cshtml";


}
<div class="page-breadcrumb">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-0">Thông tin tài khoản - VLU</h5>
        </div>
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Thông tin 
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin</h4>
                        <div class="form-group row">
                            <div class="card-body text-center">
                                @if (Model.img_profile != null)
                                {
                                    <img src="@Url.Content(Model.img_profile+" ")" alt="avatar"
                                         class="rounded-circle img-fluid" style="width: 150px;">
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Images/imageProfile/avata.png"+" ")" alt="avatar"
                                         class="rounded-circle img-fluid" style="width: 150px;">
                                }

                                <h5 class="my-3">@Model.user_name</h5>
                                <p class="text-muted mb-1">@Model.user_code</p>

                                <!-- <div class="d-flex justify-content-center mb-2">
      <button type="button" class="btn btn-primary">Message</button>

    </div> -->
                            </div>
                            <label for="fname" class="col-sm-3 text-end control-label col-form-label">MSSV:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="user_name" placeholder="197PM29124" value="@Model.user_code" disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-end control-label col-form-label">Họ tên:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="user_name" placeholder="Trần Thanh Hoài" value="@Model.user_name" disabled="disabled" />
                            </div>
                        </div>
                        <!-- <div class="form-group row" style="margin-left: 20%;">
      <label for="lname" class="col-sm-3 text-end control-label col-form-label">Gender:
        <select class="col-sm-9" name="option">
          <option value="" disabled selected>Choose your gender</option>
          <option value="1">Nam</option>
          <option value="2">Nữ</option>

        </select>
      </label>
    </div> -->
                        <div class="form-group row">
                            <label for="email1" class="col-sm-3 text-end control-label col-form-label">Mail: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="email" placeholder="mail" value="@Model.email" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email1" class="col-sm-3 text-end control-label col-form-label">SDT: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="phone" placeholder="0906172097" value="@Model.phone" disabled="disabled" />
                            </div>
                        </div>
                        @*<div class="form-group row">
            <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Tình trạng</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="cono1" placeholder="Đang dạy" />
            </div>
        </div>*@
                        <!-- <div class="form-group row">
      <label for="cono1" class="col-sm-3 text-end control-label col-form-label">Message</label>
      <div class="col-sm-9">
        <textarea class="form-control"></textarea>
      </div> -->





                        <div class="border-top">

                            <div class="border-top">
                                <div class="card-body">
                                    <a href="@Url.Action("EditUserProfile", "Home",new {id =Model.id})" class="btn btn-primary" style="margin-left: 45%;width: 100px;">
                                        SỬA
                                    </a>
                                    @*<button type="submit" class="btn btn-success text-white" style="margin-left: 30%;width: 100px;">
                        Lưu
                    </button>

                    <button type="submit" class="btn btn-danger text-white" style="margin-left: 30%;width: 100px;">
                        Hủy
                    </button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
    <!-- editor -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!--<div class="col-md-9">
    <div class="divmain">
            VLU - Profile
        </div>
        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="@Url.Content(Model.img_profile+" ")" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">@Model.user_name</h5>
                                <p class="text-muted mb-1">@Model.user_code</p>

                                <!-- <div class="d-flex justify-content-center mb-2">
                                  <button type="button" class="btn btn-primary">Message</button>

                                </div> -->
                            <!--</div>
                        </div>

                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Họ tên</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.user_name</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.email</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">SDT</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@Model.phone</p>
                                    </div>
                                </div>-->
                                @*<hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Tình trạng</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Niên khóa</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">2019-2023</p>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="row">-->
                            <!-- <div class="col-md-6">
                              <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                  <p class="mb-4"><span class="text-primary font-italic me-1"></span> Project Status
                                  </p>
                                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                  <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                      aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>

                                </div> -->




                        <!--</div>-->
                        <!-- <div class="col-md-6">
                          <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                              <p class="mb-4"><span class="text-primary font-italic me-1"></span>
                              </p>
                              <p class="mb-1" style="font-size: .77rem;">Tiến độ hoàn thành giảng dạy</p>
                              <div class="progress rounded" style="height: 5px;">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                              </div>

                            </div>
                          </div> -->
                    <!--</div>

                </div>
            </div>
            </section>
            <div class="btn-box">

                <a href="@Url.Action("EditUserProfile", "Home",new {id =Model.id})" class="btn btn-primary" style="margin-bottom: 2%;margin-left:10%; width: 170px;">
                    SỬA
                </a>

            </div>
    </div>-->

